<div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <table class="min-w-full border divide-y divide-gray-300">
                <thead class="bg-gray-50">
                    <tr>
                        <th *ngFor="let column of tableData" scope="col"
                            class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                            {{column.displayName}}
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                    <tr *ngFor="let data of allData | keyvalue; let i = index"
                        [ngClass]="i%2!=0 ? 'bg-gray-50':'bg-white'">
                        <td *ngFor="let column of tableData"
                            class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                            <span *ngIf="column.field !== 'label'; else labelBadge">
                                {{data.value[column.field]}}
                            </span>
                            <ng-template #labelBadge>
                                <span
                                    class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium border border-0"
                                    [ngClass]="[data.value.backgroundColor, data.value.textColor, data.value.borderColor]">
                                    {{data.value[column.field]}}
                                </span>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>