<div *ngIf="project" class="p-4 bg-gray-100 h-full overflow-y-auto flex-1 flex flex-col">
    <kern-data-schema [project]="project" [settingModals]="settingModals" [attributes]="attributes"
        [pKeyValid]="dataHandlerHelper.pKeyValid">
    </kern-data-schema>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-1 align-top">
        <div class="items-center flex flex-row">
            <div class="tooltip tooltip-bottom" data-tip="Add new attribute">
                <label (click)="openModalAttribute()"
                    class="mr-1 inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-5 w-5 inline-block stroke-current" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    Add new attribute
                </label>
            </div>

            <div #uploadButton class="tooltip tooltip-bottom"
                [attr.data-tip]="isAcRunning ? 'Attribute calculation in progress' : tokenizationProgress<1 ? 'Tokenization in progress':  'Upload more records to the project' ">
                <button [routerLink]="['../upload-records']" [disabled]="isAcRunning || tokenizationProgress<1"
                    [ngClass]="isAcRunning || tokenizationProgress<1 ? 'opacity-50 cursor-not-allowed' :'opacity-100 cursor-pointer'"
                    class="mr-1 inline-flex items-center px-2.5 py-2 border border-gray-300 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                    </svg>
                    Upload records
                </button>
            </div>
            <kern-export></kern-export>


            <label
                (click)="settingModals.projectExport.open = true; requestProjectSize(); requestProjectExportCredentials();"
                class="modal-button cursor-pointer inline-block">
                <div class="tooltip tooltip-bottom"
                    data-tip="Creates a snapshot compressed file of your current project">
                    <div
                        class="mr-1 inline-flex items-center px-2.5 py-2 border border-gray-300 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="mr-1 icon icon-tabler icon-tabler-camera inline-block" width="16" height="16"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2">
                            </path>
                            <circle cx="12" cy="13" r="3"></circle>
                        </svg>
                        Create project snapshot
                    </div>
                </div>
            </label>
        </div>

        <div class="text-left lg:text-right">
            <div [attr.data-tip]="project.tokenizer" class="tooltip tooltip-right font-medium inline-block">
                <span class="cursor-help underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">
                    Tokenization</span>
            </div>
            <div
                class="h-8 ml-2 inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white relative">
                <ng-template [ngIf]="tokenizationProgress">
                    <progress class="progress progress-primary w-48 md:w-72 xl:w-96" [value]="tokenizationProgress"
                        max="1"> </progress>
                    <div *ngIf="tokenizationProgress==1"
                        class="absolute top-0 left-0 right-0 bottom-0 flex flex-row items-center justify-center"
                        style="background-color:#f4f4f5bf">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 stroke-current" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg><span class="text-sm font-medium text-gray-700">Completed</span>
                    </div>
                </ng-template>
                <ng-template [ngIf]="!tokenizationProgress">
                    <progress class="progress progress-primary w-48 md:w-72 xl:w-96" value="0" max="1">
                    </progress>
                </ng-template>
            </div>
        </div>
    </div>

    <kern-embeddings [embeddingHandles]="embeddingHandles" [useableTextAttributes]="useableTextAttributes"
        [useableAttributes]="useableAttributes" [embeddings]="embeddings" [settingModals]="settingModals"
        [project]="project" [isManaged]="isManaged" [dataHandlerHelper]="dataHandlerHelper" [attributes]="attributes">
    </kern-embeddings>

    <kern-labeling-tasks [settingModals]="settingModals" [project]="project" [dataHandlerHelper]="dataHandlerHelper"
        [useableAttributes]="useableAttributes" [attributes]="attributes" [lh]="lh">
    </kern-labeling-tasks>

    <kern-gates-integrator *ngIf="isManaged" [project]="project">
    </kern-gates-integrator>

    <kern-project-metadata [project]="project"></kern-project-metadata>
</div>


<kern-modal [isOpen]="settingModals.attribute.open" closeButton="X" [acceptButton]="{
    buttonCaption: 'Add attribute',
    disabled:settingModals.attribute.name == '' || settingModals.attribute.type == '' || settingModals.attribute.duplicateNameExists,
    emitObject:this,emitFunction:createUserAttribute
}" [modalBoxStyle]="{'overflow-x':'visible'}" (optionClicked)="settingModals.attribute.open = false">
    <div class="flex flex-grow justify-center text-lg leading-6 text-gray-900 font-medium">
        Add new attribute </div>
    <div class="mb-2 flex flex-grow justify-center text-sm text-gray-500">
        Choose a name for your attribute and pick a datatype you want to use</div>

    <div class="grid grid-cols-2  gap-2 items-center" style="grid-template-columns: max-content auto;">

        <span data-tip="Enter an attribute name"
            class="cursor-help tooltip tooltip-right card-title mb-0 label-text font-normal"><span class="underline"
                style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Attribute
                name</span></span>
        <input #attributeName id="attributeName" name="attributeName" [value]="settingModals.attribute.name"
            placeholder="Enter an attribute name..." (input)="changeAttributeName($event)" autocomplete="off"
            class="input input-sm input-bordered placeholder-italic" />

        <ng-template [ngIf]="settingModals.attribute.duplicateNameExists">
            <span></span>
            <span class="text-red-700 text-xs mt-2">
                Attribute name exists
            </span>
        </ng-template>

        <span data-tip="Select an attribute type"
            class="cursor-help tooltip tooltip-right card-title mb-0 label-text font-normal"><span class="underline"
                style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Attribute
                type</span></span>
        <kern-dropdown [dropdownOptions]="{
                    optionArray: dataTypesArray,
                    buttonCaption: settingModals.attribute.type,
                    hasFullWidth: true
                }" (optionClicked)="updateDataType($event)"></kern-dropdown>
    </div>
</kern-modal>

<kern-modal [isOpen]="settingModals.projectExport.open" (optionClicked)="settingModals.projectExport.open = false">
    <div class="text-lg leading-6 text-gray-900 font-medium text-center">
        Project export </div>
    <div class="mt-1 text-sm leading-5 font-medium text-gray-700">See the size of each
        export item.</div>
    <div class="flex flex-col">
        <ng-template [ngIf]="settingModals.projectExport.projectSize" [ngIfElse]="sizeNotYetLoaded">
            <form [formGroup]="settingModals.projectExport.projectExportSchema">
                <div formArrayName="attributes" class="grid items-center p-2 gap-x-4"
                    style="grid-template-columns: auto 25px auto auto;">
                    <!--headline-->
                    <div class="flex">
                        <span class="card-title mb-0 label-text">Name</span>
                    </div>
                    <div>
                        <!--info hover-->
                    </div>
                    <div class="flex">
                        <span class="card-title mb-0 label-text">Size estimate</span>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <span class="card-title mb-0 label-text">Export</span>
                    </div>
                    <!--content-->
                    <ng-template ngFor let-attribute [ngForOf]="projectExportArray.controls" let-i="index">
                        <div [formGroupName]="i" class="contents">
                            <div class="flex">
                                <p class="break-words cursor-default capitalize-first"
                                    [ngClass]="attribute.get('moveRight').value?'ml-4':null">
                                    {{attribute.get("name").value}}</p>
                            </div>
                            <div class="flex items-center justify-items-center">
                                <ng-template [ngIf]="attribute.get('desc').value">
                                    <div [attr.data-tip]="attribute.get('desc').value" class="tooltip tooltip-top">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="flex">
                                <p class="break-words cursor-default">
                                    {{attribute.get("sizeReadable").value}}
                                </p>
                            </div>
                            <div class="flex justify-center">
                                <div class="form-control">
                                    <label class="card-title mb-0 cursor-pointer label p-0">
                                        <input formControlName="export" type="checkbox" class="cursor-pointer">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </form>
        </ng-template>
        <ng-template #sizeNotYetLoaded>
            <div class="flex flex-col items-center justify-items-center mb-8 mt-4">
                <kern-loading></kern-loading>
            </div>
        </ng-template>
    </div>
    <div *ngIf="settingModals.projectExport.projectSize" class="mt-4 flex flex-row justify-between "
        style="border-top: 1px solid #ddd;">
        <!-- Final size-->
        <div></div>
        <div class="mt-4 mr-2 flex flex-row flex-nowrap">
            <div class="flex">
                <span class="card-title mb-0 label-text">Final size estimate:</span>
            </div>
            <div class="flex ml-2">
                <span class="card-title mb-0 label-text">{{settingModals.projectExport.downloadSizeText}}</span>
            </div>
        </div>
    </div>
    <div class="modal-action">
        <label *ngIf="settingModals.projectExport.projectExportCredentials?.downloadFileName as fileName"
            data-tip="Latest prepared export file"
            (click)="exportViaFile(false); settingModals.projectExport.open = false"
            class="tooltip bg-white text-gray-700 text-xs font-semibold mr-4 px-4 py-2 rounded-md border border-gray-300 cursor-pointer hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4 inline-block" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
            </svg>
            {{fileName}}
        </label>
        <label (click)="prepareDownload(project.id)"
            [ngClass]="settingModals.projectExport.downloadPrepareMessage== DownloadStateType.PREPARATION|| settingModals.projectExport.downloadPrepareMessage == DownloadStateType.DOWNLOAD?'opacity-50 cursor-not-allowed py-1' : 'opacity-100 cursor-pointer py-2'"
            class="bg-green-100 text-green-700 border border-green-400 text-xs font-semibold px-4 rounded-md cursor-pointer hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            type="submit">
            Prepare download
            <kern-loading color="green"
                *ngIf="settingModals.projectExport.downloadPrepareMessage == DownloadStateType.PREPARATION || settingModals.projectExport.downloadPrepareMessage == DownloadStateType.DOWNLOAD">
            </kern-loading>
        </label>
        <label (click)="settingModals.projectExport.open = false"
            class="bg-white text-gray-700 text-xs font-semibold mr-4 px-4 py-2 rounded border border-gray-300 cursor-pointer hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Close
        </label>
    </div>
</kern-modal>