.modal_content{
    width:fit-content;
    max-width: 80%;
    overflow-x: auto;
}

.tooltip::before {
    z-index: 50;
}

.capitalize-first {
    text-transform: lowercase;
  }
  .capitalize-first::first-letter {
    text-transform: uppercase;
  }