<div class="mt-8">
    <div class="text-lg leading-6 text-gray-900 font-medium inline-block w-full">
        <label>Embeddings</label>
        <div class="mt-1">
            <div class="text-sm leading-5 font-medium text-gray-700 inline-block">You can enrich your records
                with
                embeddings, e.g. to use them for vector search or active transfer learning.</div>
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Name</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Type</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Status</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Dimensionality</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Count</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <ng-template [ngIf]="!somethingLoading" [ngIfElse]="loadingIcon">
                                <tr *ngFor="let embeddingContainer of embeddings; let j = index"
                                    [ngClass]="j%2!=0 ? 'bg-gray-50':'bg-white'">
                                    <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                        {{embeddingContainer.name}}
                                    </td>
                                    <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                        <div
                                            class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-100 text-yellow-800">
                                            {{embeddingContainer.type == 'ON_ATTRIBUTE'?
                                            'Attribute Specific' : 'Token Specific'}}
                                        </div>
                                    </td>
                                    <td class="text-center px-3 text-sm text-gray-500"
                                        [ngClass]="embeddingContainer.state != 'FINISHED' && embeddingContainer.state != 'FAILED' ? 'py-0' : 'whitespace-nowrap py-2'">
                                        <ng-template
                                            [ngIf]="embeddingContainer.state != 'FINISHED' && embeddingContainer.state != 'FAILED'">
                                            <div class="items-center">
                                                <progress class="progress progress-primary"
                                                    [value]="embeddingContainer.progress" max="1"></progress>
                                            </div>
                                            <p class="text-xs italic">{{embeddingContainer.state}}</p>
                                        </ng-template>

                                        <div *ngIf="embeddingContainer.state === 'FINISHED'"
                                            data-tip="Successfully created." class="tooltip">
                                            <div
                                                class="btn cursor-default btn-circle btn-xs no-animation btn-primary mx-2">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="inline-block w-4 h-4 stroke-current" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" d="M5 13l4 4L19 7" />
                                                </svg>
                                            </div>
                                        </div>

                                        <div *ngIf="embeddingContainer.state === 'FAILED'"
                                            data-tip="Embedding creation ran into errors." class="tooltip">
                                            <div
                                                class="btn cursor-default btn-circle btn-xs no-animation btn-error mx-2">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="inline-block w-4 h-4 stroke-current" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                                </svg>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                        {{embeddingContainer.dimension}}
                                    </td>
                                    <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                        {{embeddingContainer.count}}
                                    </td>
                                    <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                        <label
                                            (click)="settingModals.embedding.delete = {open: true, id: embeddingContainer.id, isQueueElement:embeddingContainer.state == 'QUEUED'};"
                                            class="modal-button btn btn-sm btn-ghost px-0">

                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="inline-block w-6 h-6 stroke-current text-red-700" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </label>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #loadingIcon>
                                <tr>
                                    <td colspan="6" class="text-center p-1">
                                        <kern-loading></kern-loading>
                                    </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-1">
            <div class="tooltip tooltip-right"
                data-tip="Vectorize your attributes. Integration to Hugging Face available">
                <label (click)="settingModals.embedding.create.open = true;"
                    class="inline-block items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-5 w-5 inline-block stroke-current" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    Generate embedding
                </label>
            </div>
            <div class="tooltip tooltip-right"
                [attr.data-tip]="!isManaged ? 'Check out our hosted version to use this function' : 'See which models are downloaded'">
                <button
                    class="ml-1 inline-block items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none cursor-pointer"
                    [routerLink]="['/model-download']" [disabled]="!isManaged"
                    [ngClass]="!isManaged ? 'cursor-not-allowed' : 'opacity-100 cursor-pointer'">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="inline-block icon icon-tabler icon-tabler-arrow-autofit-down" width="20" height="20"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 20h-6a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8"></path>
                        <path d="M18 4v17"></path>
                        <path d="M15 18l3 3l3 -3"></path>
                    </svg>
                    <span class="leading-5">
                        See downloaded models
                    </span>
                </button>
            </div>

        </div>
    </div>
</div>

<kern-modal [isOpen]="settingModals.embedding.delete.open" [modalBoxStyle]="{'width':'30rem','text-align':'center'}"
    [abortButton]="{
    buttonCaption: settingModals.embedding.delete.isQueueElement ?'Dequeue embedding':'Delete embedding',
    emitObject: this, emitFunction: deleteEmbedding
}" closeButton="X" (optionClicked)="settingModals.embedding.delete.open = false">
    <div class="flex flex-grow justify-center text-lg leading-6 text-gray-900 font-medium">
        Warning </div>
    <p class="mt-2 text-gray-500 text-sm">Are you sure you want to
        {{settingModals.embedding.delete.isQueueElement ? 'dequeue': 'delete'}}
        this embedding?</p>
    <p *ngIf="!settingModals.embedding.delete.isQueueElement" class="text-gray-500 text-sm">This will delete all
        corresponding
        tensors!</p>
</kern-modal>

<kern-modal [isOpen]="settingModals.embedding.create.open" [modalBoxStyle]="{'overflow-x':'visible'}" closeButton="X"
    [acceptButton]="{
    buttonCaption: 'Add embedding',
    disabled: settingModals.embedding.create.blocked || !(useableTextAttributes && settingModals.embedding.create.embeddingCreationFormGroup) || !settingModals.embedding.create.embeddingCreationFormGroup.get('termsAccepted').value ||
    (settingModals.embedding.create.embeddingCreationFormGroup.get('platform').value == PlatformType.HUGGING_FACE && settingModals.embedding.create.embeddingCreationFormGroup.get('embeddingHandle').value == '') ||
    (settingModals.embedding.create.embeddingCreationFormGroup.get('platform').value == PlatformType.OPEN_AI && (settingModals.embedding.create.embeddingCreationFormGroup.get('model').value == '' || settingModals.embedding.create.embeddingCreationFormGroup.get('apiToken').value == '')) ||
    (settingModals.embedding.create.embeddingCreationFormGroup.get('platform').value == PlatformType.COHERE && settingModals.embedding.create.embeddingCreationFormGroup.get('apiToken').value == ''),
    emitObject: this, emitFunction:addEmbedding
}" (optionClicked)="settingModals.embedding.create.open = false">
    <div class="flex flex-grow justify-center text-lg leading-6 text-gray-900 font-medium">
        Add an embedding </div>
    <div class="mb-2 flex flex-grow justify-center text-sm text-gray-500"
        *ngIf="useableTextAttributes && settingModals.embedding.create.embeddingCreationFormGroup">
        Pick from the below solutions to build a vector representation</div>
    <div class="mb-2 flex flex-grow justify-center text-sm text-gray-500"
        *ngIf="!(useableTextAttributes && settingModals.embedding.create.embeddingCreationFormGroup)">
        No usable text attributes to embed exist</div>
    <div *ngIf="useableTextAttributes && settingModals.embedding.create.embeddingCreationFormGroup">
        <form [formGroup]="settingModals.embedding.create.embeddingCreationFormGroup">
            <div class="grid grid-cols-2 gap-2 items-center" style="grid-template-columns: max-content auto;">
                <div class="tooltip tooltip-right" data-tip="Choose attribute that will be encoded">
                    <span class="card-title mb-0 label-text flex"><span class="cursor-help underline"
                            style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Target
                            Attribute</span></span>
                </div>
                <select formControlName="targetAttribute" class="select select-bordered select-sm max-w-xs">
                    <option *ngFor="let attribute of useableTextAttributes" [value]="attribute.id">
                        {{attribute.name}}
                    </option>
                </select>
                <div class="tooltip tooltip-right" data-tip="One embedding per record vs. per token">
                    <span class="card-title mb-0 label-text flex"><span class="cursor-help underline"
                            style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">
                            Granularity
                        </span>
                    </span>
                </div>
                <select formControlName="granularity" class="select select-bordered select-sm max-w-xs"
                    (change)="checkForceHiddenHandles()">
                    <option *ngFor="let granularity of dataHandlerHelper.granularityTypesArray"
                        [value]="granularity.value">
                        {{granularity.name}}
                    </option>
                </select>
                <div class="tooltip tooltip-right" data-tip="Choose the platform to embed records">
                    <span class="card-title mb-0 label-text flex"><span class="cursor-help underline"
                            style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">
                            Platform
                        </span>
                    </span>
                </div>
                <select formControlName="platform" class="select select-bordered select-sm max-w-xs"
                    (change)="checkForceHiddenHandles()">
                    <option *ngFor="let platform of dataHandlerHelper.platformNamesArray" [value]="platform.value">
                        {{platform.name}}
                    </option>
                </select>
                <ng-container
                    [ngSwitch]="settingModals.embedding.create.embeddingCreationFormGroup.get('platform').value">
                    <ng-template [ngSwitchCase]="PlatformType.HUGGING_FACE">
                        <div class="tooltip tooltip-right"
                            data-tip="If platform=Huggingface: <uri of your model>; if platform=Open AI: <name of your model>+<API token>; if platform=Cohere: <API token>; if platform=Python: see docs">
                            <span class="card-title mb-0 label-text flex"><span class="cursor-help underline"
                                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">
                                    Configuration
                                </span>
                            </span>
                        </div>
                        <div class="dropdown"
                            *ngIf="embeddingHandles && embeddingHandles[settingModals.embedding.create.embeddingCreationFormGroup.get('targetAttribute').value] as suggestions;else noSuggestions">
                            <div tabindex="0" class="flex flex-row select select-bordered select-sm pl-0 pr-8">
                                <input #inputEmbeddingHandle type="text" placeholder="Type to search..."
                                    class="w-full font-bold input input-sm"
                                    style="outline:none; box-shadow:none;height:1.9rem;"
                                    [value]="settingModals.embedding.create.embeddingCreationFormGroup.get('embeddingHandle').value"
                                    (focus)="$event.target.select()"
                                    (keydown.enter)="selectFirstUnhiddenEmbeddingHandle(inputEmbeddingHandle)"
                                    (input)="checkEmbeddingHandles($event.target)">
                            </div>
                            <ul tabindex="0"
                                class="p-2 w-full menu dropdown-content bg-base-100 shadow height-dropdown overflow-y-auto">
                                <li #me *ngFor="let embeddingHandle of suggestions; let k = index"
                                    [ngClass]="embeddingHandle.hidden || embeddingHandle.forceHidden?'hidden':null"
                                    (mouseenter)="setCurrentEmbeddingHandle(embeddingHandle,hoverBox,me)"
                                    (mouseleave)="setCurrentEmbeddingHandle(null,null,null)">

                                    <label class="cursor-pointer label"
                                        [ngClass]="embeddingHandle.isModelDownloaded ? 'text-green-700' : ''"
                                        (click)="selectEmbeddingHandle(embeddingHandle,inputEmbeddingHandle,hoverBox)">
                                        {{embeddingHandle.configString}}
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <ng-template #noSuggestions>
                            <div class="flex flex-row select select-bordered select-sm pl-0 pr-8">
                                <input #inputEmbeddingHandle type="text" placeholder="Enter config string..."
                                    class="w-full font-bold input input-sm"
                                    style="outline:none; box-shadow:none;height:1.9rem;"
                                    [value]="settingModals.embedding.create.embeddingCreationFormGroup.get('embeddingHandle').value"
                                    (focus)="$event.target.select()" (input)="checkEmbeddingHandles($event.target)">
                            </div>
                        </ng-template>
                    </ng-template>
                    <ng-template [ngSwitchCase]="PlatformType.OPEN_AI">
                        <div class="tooltip tooltip-right" data-tip="Enter the name of your model">
                            <span class="card-title mb-0 label-text flex"><span class="cursor-help underline"
                                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">
                                    Model
                                </span>
                            </span>
                        </div>
                        <input formControlName="model" class="input input-bordered input-sm" />
                        <div class="tooltip tooltip-right" data-tip="Enter your API token">
                            <span class="card-title mb-0 label-text flex"><span class="cursor-help underline"
                                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">
                                    API token
                                </span>
                            </span>
                        </div>
                        <input formControlName="apiToken" class="input input-bordered input-sm" />
                    </ng-template>
                    <ng-template [ngSwitchCase]="PlatformType.COHERE">
                        <div class="tooltip tooltip-right" data-tip="Enter your API token">
                            <span class="card-title mb-0 label-text flex"><span class="cursor-help underline"
                                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">
                                    API token
                                </span>
                            </span>
                        </div>
                        <input formControlName="apiToken" class="input input-bordered input-sm" />
                    </ng-template>
                </ng-container>
            </div>
            <ng-template
                [ngIf]="settingModals.embedding.create.embeddingCreationFormGroup.get('platform').value == PlatformType.PYTHON">
                <label class="text-gray-500 text-sm font-normal text-center my-2 block">
                    See our <a href="https://docs.kern.ai/refinery/" target="_blank"><span
                            class="underline cursor-pointer">documentation</span></a> for further
                    details.
                </label>
            </ng-template>

            <div class="flex flex-row items-center my-2 mx-auto justify-center">
                <div class="tooltip tooltip-bottom text-left flex"
                    [attr.data-tip]="organization.gdprCompliant ?'GDPR Compliant':'Not GDPR Compliant'">
                    <button
                        [ngClass]="organization.gdprCompliant ?'bg-green-100 border border-green-400 text-green-700':'bg-red-100 border border-red-400 text-red-700'"
                        class="rounded-lg text-xs px-2.5 py-0.5 cursor-default border">GDPR</button>
                </div>
                <label #gdprText class="text-gray-700 italic text-sm ml-3">
                    {{
                    settingModals.embedding.create.embeddingCreationFormGroup.get('platform').value ==
                    PlatformType.HUGGING_FACE ||
                    settingModals.embedding.create.embeddingCreationFormGroup.get('platform').value ==
                    PlatformType.PYTHON ?
                    'Can be used without any limitations':
                    settingModals.embedding.create.embeddingCreationFormGroup.get('platform').value ==
                    PlatformType.OPEN_AI
                    ? 'Can be used with limitations' : 'You need to read TOS' }}
                </label>
            </div>
            <div className='mt-2 flex flex-row items-center' style="text-align: center;">
                <input type="checkbox" id="termsAccepted" className="cursor-pointer" formControlName="termsAccepted" />
                <label for="termsAccepted" className="text-gray-700 text-xs font-medium cursor-pointer ml-1">
                    I agree to the terms and services
                </label>
            </div>
        </form>
    </div>
</kern-modal>
<div #hoverBox class="absolute top-0 w-fit h-fit card shadow bg-white" style="z-index: 1000;"
    [ngClass]="settingModals.embedding.create.currentEmbeddingHandle?null:'hidden'">
    <ng-template [ngIf]="settingModals.embedding.create.currentEmbeddingHandle">
        <div class="card-body p-6 flex flex-col w-64">
            <div class="flex justify-center">
                <span class="card-title mb-2 label-text">Info</span>
            </div>
            <span
                class="label-text text-sm">{{settingModals.embedding.create.currentEmbeddingHandle.description}}</span>
        </div>
    </ng-template>
</div>