<div class="h-screen bg-gray-100 flex overflow-hidden">
    <kern-sidebar-pm (firstName)="getFirstName($event)" style="z-index: 9999;">
    </kern-sidebar-pm>
    <div class="h-full w-full flex flex-col">
        <ng-container *ngIf="project$ | async as project">
            <kern-header [user]="user$ | async" [project]="project" [avatarUri]="avatarUri" page="project">
            </kern-header>
        </ng-container>
        <div id="pageOutlet" class="block flex-grow h-full w-full bg-white overflow-y-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<input #resizingModal type="checkbox" class="modal-toggle">
<kern-modal [isOpen]="resizingModal.checked" [acceptButton]="{
    buttonCaption:'Continue'}" [modalBoxStyle]="{'width':'600px'}">
    <div class="flex flex-row justify-center text-lg leading-6 text-gray-900 font-medium mb-2">
        Resizing information </div>

    <div class="mt-3 flex flex-row justify-between">
        <div class="flex flex-row-reverse justify-start text-xs">
            The current version of the application is designed for certain screen sizes. If you continue, the
            application some of the application's features may not look as intended.
        </div>
    </div>
</kern-modal>