.tooltip::before {
    z-index: 50;
}

.width-icon-menues {
    width: 128px;
}

.width-sample-projects {
    width: 384px !important;
}

.tooltip_max_width_200::before {
    max-width: 200px;
}

.tooltip_max_width_300::before {
    max-width: 300px;
}