<div class="h-screen bg-gray-100 flex overflow-hidden">
    <kern-sidebar-pm (firstName)="getFirstName($event)">
    </kern-sidebar-pm>
    <!-- Content area -->
    <div class="h-full w-full flex-1 flex flex-col">
        <kern-header [user]="user$ | async" [organizationName]="organizationName"
            [organizationInactive]="organizationInactive" [avatarUri]="avatarUri" page="projects"></kern-header>

        <div class="bg-white h-full overflow-y-auto">

            <!-- show team -->
            <ng-container *ngIf="!organizationInactive && isManaged">
                <div>
                    <div class="mx-auto max-w-7xl mt-8 pb-12 px-4 sm:px-6">
                        <div class="grid grid-cols-1 gap-8">

                            <div class="space-y-5 sm:space-y-4">
                                <h3 class="text-3xl font-bold tracking-tight sm:text-4xl">Engineering team</h3>
                                <p class="text-gray-500">Administers the project and works on programmatic tasks such as labeling automation or filter settings.</p>
                                <p>They have access to all features of the application, including the Python SDK.</p>
                            </div>
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                                <div *ngFor="let user of engineers"
                                    class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                    <div class="flex-shrink-0">
                                        <img class="h-10 w-10 rounded-full" [src]="user.avatarUri" alt="">
                                    </div>
                                    <div class="min-w-0 flex-1">
                                        <a class="focus:outline-none">
                                            <span class="absolute inset-0" aria-hidden="true"></span>
                                            <p class="text-sm font-medium text-gray-900">{{user.firstName}}
                                                {{user.lastName}}</p>
                                            <p class="truncate text-sm text-gray-500">{{user.mail}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="relative">
                                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                                    <div class="w-full border-t border-gray-300"></div>
                                </div>
                            </div>

                            <div class="mt-4 space-y-5 sm:space-y-4">
                                <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Domain experts team</h2>
                                <p class="text-gray-500">Working on reference manual labels, which can be used by the engineering team to estimate the data quality.</p>
                                <p>They have access to the labeling view only.</p>
                            </div>
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                                <div *ngFor="let user of experts"
                                    class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                    <div class="flex-shrink-0">
                                        <img class="h-10 w-10 rounded-full" [src]="user.avatarUri" alt="">
                                    </div>
                                    <div class="min-w-0 flex-1">
                                        <a class="focus:outline-none">
                                            <span class="absolute inset-0" aria-hidden="true"></span>
                                            <p class="text-sm font-medium text-gray-900">{{user.firstName}}
                                                {{user.lastName}}</p>
                                            <p class="truncate text-sm text-gray-500">{{user.mail}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="experts?.length == 0" class="text-center">
                                <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 48 48" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M34 40h10v-4a6 6 0 00-10.712-3.714M34 40H14m20 0v-4a9.971 9.971 0 00-.712-3.714M14 40H4v-4a6 6 0 0110.713-3.714M14 40v-4c0-1.313.253-2.566.713-3.714m0 0A10.003 10.003 0 0124 26c4.21 0 7.813 2.602 9.288 6.286M30 14a6 6 0 11-12 0 6 6 0 0112 0zm12 6a4 4 0 11-8 0 4 4 0 018 0zm-28 0a4 4 0 11-8 0 4 4 0 018 0z" />
                                </svg>
                                <h2 class="mt-2 text-lg font-medium text-gray-900">Add experts</h2>
                                <p class="mt-1 text-sm text-gray-500">Let us know if you want to add experts.
                                </p>
                            </div>
                            <div class="relative">
                                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                                    <div class="w-full border-t border-gray-300"></div>
                                </div>
                            </div>

                            <div class="mt-4 space-y-5 sm:space-y-4">
                                <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Annotator team</h2>
                                <p class="text-gray-500">Working on manual labels as if they were heuristics. They can be switched on/off by the engineering team, so that the engineers can in- or exclude them during weak supervision.</p>
                                <p>They have access to a task-minimized labeling view only. Engineers can revoke their access to the labeling view.</p>
                            </div>
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                                <div *ngFor="let user of annotators"
                                    class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                    <div class="flex-shrink-0">
                                        <img class="h-10 w-10 rounded-full" [src]="user.avatarUri" alt="">
                                    </div>
                                    <div class="min-w-0 flex-1">
                                        <a class="focus:outline-none">
                                            <span class="absolute inset-0" aria-hidden="true"></span>
                                            <p class="text-sm font-medium text-gray-900">{{user.firstName}}
                                                {{user.lastName}}</p>
                                            <p class="truncate text-sm text-gray-500">{{user.mail}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="annotators?.length == 0" class="text-center"> 
                                <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 48 48" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M34 40h10v-4a6 6 0 00-10.712-3.714M34 40H14m20 0v-4a9.971 9.971 0 00-.712-3.714M14 40H4v-4a6 6 0 0110.713-3.714M14 40v-4c0-1.313.253-2.566.713-3.714m0 0A10.003 10.003 0 0124 26c4.21 0 7.813 2.602 9.288 6.286M30 14a6 6 0 11-12 0 6 6 0 0112 0zm12 6a4 4 0 11-8 0 4 4 0 018 0zm-28 0a4 4 0 11-8 0 4 4 0 018 0z" />
                                </svg>
                                <h2 class="mt-2 text-lg font-medium text-gray-900">Add annotators</h2>
                                <p class="mt-1 text-sm text-gray-500">Let us know if you want to add annotators.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- show pricing and options -->
            <ng-container *ngIf="!organizationInactive && !isManaged">
                <!-- This example requires Tailwind CSS v2.0+ -->
                <div class="bg-white h-full">
                    <div class="mx-auto max-w-7xl py-8 px-4 sm:px-6">
                        <div class="sm:align-center sm:flex sm:flex-col">
                            <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-center"><span
                                    class="font-dmMono">refinery</span> options
                            </h1>
                            <p class="mt-5 text-xl text-gray-500 sm:text-center">Other than our open-source version you
                                are using right now, we offer the following options.</p>

                        </div>
                        <div class="mt-12 space-y-4 sm:mt-16 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0">

                            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
                                <div class="p-6">
                                    <h2 class="text-lg font-medium leading-6 text-gray-900">Managed cloud</h2>
                                    <p class="mt-4 text-sm text-gray-500">Use <span class="font-dmMono">refinery</span>
                                        online with your team.</p>
                                    <a href="https://www.kern.ai/pricing/options"
                                        class="mt-8 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Check
                                        our options</a>
                                </div>
                                <div class="px-6 pt-6 pb-8">
                                    <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                                    <ul role="list" class="mt-6 space-y-4">
                                        <li class="flex space-x-3">
                                            <!-- Heroicon name: mini/check -->
                                            <svg class="h-5 w-5 flex-shrink-0 text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="text-sm text-gray-500">Managed for you on our scalable cloud,
                                                accelerated via GPU. </span>
                                        </li>
                                        <li class="flex space-x-3">
                                            <!-- Heroicon name: mini/check -->
                                            <svg class="h-5 w-5 flex-shrink-0 text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="text-sm text-gray-500">Multi-user capabilities.</span>
                                        </li>
                                        <li class="flex space-x-3">
                                            <!-- Heroicon name: mini/check -->
                                            <svg class="h-5 w-5 flex-shrink-0 text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="text-sm text-gray-500">Expert support.
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
                                <div class="p-6">
                                    <h2 class="text-lg font-medium leading-6 text-gray-900">Enterprise</h2>
                                    <p class="mt-4 text-sm text-gray-500">On-prem deployment and consultation by our
                                        experts.</p>
                                    <a href="https://www.kern.ai/pricing/options"
                                        class="mt-8 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Check
                                        our options</a>
                                </div>
                                <div class="px-6 pt-6 pb-8">
                                    <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                                    <ul role="list" class="mt-6 space-y-4">
                                        <li class="flex space-x-3">
                                            <!-- Heroicon name: mini/check -->
                                            <svg class="h-5 w-5 flex-shrink-0 text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="text-sm text-gray-500">Multi-user capabilities.
                                            </span>
                                        </li>

                                        <li class="flex space-x-3">
                                            <!-- Heroicon name: mini/check -->
                                            <svg class="h-5 w-5 flex-shrink-0 text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="text-sm text-gray-500">Dedicated support.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
                                <div class="p-6">
                                    <h2 class="text-lg font-medium leading-6 text-gray-900">Labeling services</h2>
                                    <p class="mt-4 text-sm text-gray-500">For the managed cloud and
                                        enterprise solution.</p>
                                    <a href="https://www.kern.ai/pricing/options"
                                        class="mt-8 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Check
                                        our options</a>
                                </div>
                                <div class="px-6 pt-6 pb-8">
                                    <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                                    <ul role="list" class="mt-6 space-y-4">
                                        <li class="flex space-x-3">
                                            <!-- Heroicon name: mini/check -->
                                            <svg class="h-5 w-5 flex-shrink-0 text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="text-sm text-gray-500">Integrated directly in <span
                                                    class="font-dmMono">refinery</span></span>
                                        </li>

                                        <li class="flex space-x-3">
                                            <!-- Heroicon name: mini/check -->
                                            <svg class="h-5 w-5 flex-shrink-0 text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="text-sm text-gray-500">Full insight into labeling quality and
                                                coverage.</span>
                                        </li>

                                        <li class="flex space-x-3">
                                            <!-- Heroicon name: mini/check -->
                                            <svg class="h-5 w-5 flex-shrink-0 text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="text-sm text-gray-500">For all available labeling tasks in
                                                <span class="font-dmMono">refinery</span>.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>

            <!-- show waiting zone -->
            <ng-container *ngIf="organizationInactive && isManaged">
                <div class="h-full relative bg-white overflow-hidden">
                    <div class="hidden lg:block lg:absolute lg:inset-0" aria-hidden="true">
                        <svg class="h-screen absolute top-0 left-1/2 transform translate-x-64 -translate-y-8"
                            width="640" height="784" fill="none" viewBox="0 0 640 784">
                            <defs>
                                <pattern id="9ebea6f4-a1f5-4d96-8c4e-4c2abf658047" x="118" y="0" width="20" height="20"
                                    patternUnits="userSpaceOnUse">
                                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                                </pattern>
                            </defs>
                            <rect y="72" width="640" height="640" class="text-gray-50" fill="currentColor" />
                            <rect x="118" width="404" height="784" fill="url(#9ebea6f4-a1f5-4d96-8c4e-4c2abf658047)" />
                        </svg>
                    </div>
                    <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
                        <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
                            <div class="lg:grid lg:grid-cols-12 lg:gap-8">
                                <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
                                    <div class="text-gray-500 font-semibold text-base uppercase">You're now on the
                                        waitlist!
                                    </div>
                                    <div class="font-extrabold text-gray-900 text-5xl mt-1">
                                        You don't want to <span class="text-green-800">wait?</span>
                                    </div>
                                    <div class="font-normal text-xl text-gray-500 mt-5">
                                        In a 15 minute onboarding call, we can directly assign you access. Reach out to
                                        us
                                        <a href="https://www.kern.ai/waitlist" target="_blank"><span
                                                class="underline cursor-pointer">here</span></a>.
                                    </div>
                                    <div class="text-gray-500 mt-5">
                                        In the meantime, feel free to take a look at a product demo or check out our
                                        <a href="https://docs.kern.ai/" target="_blank"><span
                                                class="underline cursor-pointer">documentation</span></a>. If you have
                                        any
                                        questions, contact us any time.
                                    </div>
                                </div>
                                <div style="width:560px;height:315px" class="overflow-hidden relative">
                                    <ng-template [ngIf]="saveUrl" [ngIfElse]="showPicture">
                                        <iframe width="560" height="315" [src]="saveUrl" title="YouTube video player"
                                            frameborder="0" autoplay="1"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>

                                    </ng-template>
                                    <ng-template #showPicture>
                                        <div>
                                            <img class="w-full" src="assets/thumbnail.jpg" alt="">

                                            <span
                                                class="absolute inset-0 w-full h-full flex items-center justify-center"
                                                aria-hidden="true">
                                                <svg class="cursor-pointer h-20 w-20 text-indigo-500"
                                                    fill="currentColor" (click)="startPlayback()" viewBox="0 0 84 84">
                                                    <circle opacity="0.9" cx="42" cy="42" r="42" fill="white" />
                                                    <path
                                                        d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z" />
                                                </svg>
                                            </span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </ng-container>

        </div>

    </div>
</div>