<div class="form-control">
    <label class="text-gray-500 text-sm font-normal">Choose from one of the following data
        sources</label>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div>
        <label class="rounded-lg relative border p-4 flex cursor-pointer h-full focus:outline-none bg-white"
            (click)="toggleTab(0)" [ngClass]="openTab === 0 ? 'border-black' : 'border-gray'">
            <input type="radio" name="upload-file" [value]="0" [checked]="true"
                class="h-4 w-4 mt-0.5 cursor-pointer shrink-0 text-indigo-600 border-gray-300 focus:ring-indigo-500"
                aria-labelledby="upload-file-0-label" aria-describedby="upload-file-0-description">
            <span class="ml-3 flex flex-col">
                <span id="upload-file-1-label" class="block text-sm font-medium"
                    [ngClass]="openTab === 0 ? 'text-indigo-700' : 'text-gray-900'"> Upload file
                </span>
                <span id="upload-file-1-description" class="block text-sm font-normal"
                    [ngClass]="openTab === 0 ? 'text-indigo-dark-2' : 'text-gray-500'"> Upload
                    any kind of CSV, JSON or spreadsheet. </span>
            </span>
        </label>
    </div>
    <div>
        <label class="bg-white rounded-lg relative border p-4 flex h-full focus:outline-none">
            <div class="grid grid-cols-6 gap-4 w-full">
                <div class="col-span-3 lg:col-span-4 ml-3">
                    <span id="integrate-api-0-label" class="block text-sm font-medium text-gray-900">
                        Integrate via API </span>
                    <span id="integrate-api-0-description" class="block text-sm font-normal text-gray-500"> Upload data
                        via our API. </span>
                </div>
                <div class="col-span-3 lg:col-span-2 text-right items-center flex">
                    <button
                        class="bg-gray-100 text-gray-800 rounded-lg text-xs px-2.5 py-0.5 cursor-default border border-gray-300">Coming
                        soon!</button>
                </div>
            </div>
        </label>
    </div>
    <div>
        <label class="bg-white rounded-lg relative border p-4 flex h-full focus:outline-none">
            <div class="grid grid-cols-6 gap-4 w-full">
                <div class="col-span-3 lg:col-span-4 ml-3">
                    <span id="integrate-database-0-label" class="block text-sm font-medium text-gray-900"> Integrate
                        database </span>
                    <span id="integrate-database-0-description" class="block text-sm font-normal text-gray-500">
                        Integrate data directly from a
                        DB. </span>
                </div>
                <div class="col-span-3 lg:col-span-2 text-right items-center flex">
                    <button
                        class="bg-gray-100 text-gray-800 rounded-lg text-xs px-2.5 py-0.5 cursor-default border border-gray-300">Coming
                        soon!</button>
                </div>
            </div>
        </label>
    </div>
</div>
<kern-upload [projectId]="null" (fileAttached)="getFile($event)" [uploadOptions]="{
    deleteProjectOnFail: deleteProjectOnFail
}">
</kern-upload>
<ng-template [ngIf]="openTab === 2">
    <div class="form-control mt-6">
        <label class="text-gray-500 text-sm font-normal">Please choose a data source for your
            project.</label>
        <input name="dataSource" type="text" class="input input-sm input-bordered w-full">
    </div>
    <div class="form-control mt-6">
        <label class="text-gray-500 text-sm font-normal">Twitter API key. See our <a
                href="https://docs.kern.ai/docs/setup" target="_blank"><span
                    class="underline cursor-pointer">documentation</span></a> for further
            details.</label>
        <input name="twitterAPI" type="text" class="input input-sm input-bordered w-full placeholder-italic"
            placeholder="Enter your API key here ...">
    </div>
    <div class="form-control mt-6">
        <label class="text-gray-500 text-sm font-normal">Analyzing tweets is a common use case for
            scalable data labeling. Do you want to load pre-built content to start your project?</label>
        <input name="preBuilt" type="text" class="input input-sm input-bordered w-full">
    </div>
</ng-template>
<div class="rounded-md bg-yellow-50 p-4" *ngIf="submitted && !isFileUploaded && openTab === 0">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd" />
            </svg>
        </div>
        <div class="ml-3">
            <h3 class="text-sm font-medium text-yellow-800">File required</h3>
            <div class="mt-2 text-sm text-yellow-700">
                <p>If you are choosing to start a project by uploading a file, you must specify one
                    first. Please upload one.</p>
            </div>
        </div>
    </div>
</div>
<div class="form-group" *ngIf="openTab === 0">
    <label class="text-gray-500 text-sm font-normal">
        You can specify import file upload options for your file. See how this is done for <a
            href="https://pandas.pydata.org/docs/reference/api/pandas.read_json.html" target="_blank"><span
                class="underline cursor-pointer">JSON</span></a>, <a
            href="https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html" target="_blank"><span
                class="underline cursor-pointer">CSV</span></a> and <a
            href="https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html" target="_blank"><span
                class="underline cursor-pointer">spreadsheets</span></a>. If you leave
        it blank, we'll use default settings
    </label>
    <div>
        <textarea #importOptions class="shadow mt-1 p-4 text-sm w-full placeholder-indigo" rows="3"
            placeholder="E.g. for uncommon CSV&#10;sep=\t&#10;lineterminator=\r"></textarea>
    </div>
</div>