<div class="flex items-center">
    <div class="tooltip tooltip-left" data-tip="Open the bricks integrator">
        <label (click)="openBricksIntegrator()" id="bricks-integrator-open-button"
            class="cursor-pointer bg-white text-gray-700 text-xs font-semibold whitespace-nowrap px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none">
            Search in bricks
        </label>
    </div>
</div>
<kern-modal [isOpen]="config.modalOpen" closeButton="X" [acceptButton]="{
        useButton:config.page != IntegratorPageType.SEARCH,
        closeAfterClick:false,
        buttonCaption:config.page == IntegratorPageType.INTEGRATION?'Finish up':'Proceed',        
        disabled:!config.canAccept
}" [modalBoxStyle]="{'overflow-x':'visible'}" (optionClicked)="optionClicked($event)">
    <div class="flex flex-row items-center justify-center gap-x-2">

        <span class="text-lg leading-6 text-gray-900 font-medium"
            (dblclick)="config.querySourceSelectionOpen=!config.querySourceSelectionOpen">
            Bricks Integrator
        </span>
        <div *ngIf="config.querySourceSelectionOpen && config.page == IntegratorPageType.SEARCH"
            class="flex cursor-pointer items-center" (click)="requestSearch()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
            </svg>
        </div>

    </div>
    <ng-template [ngIf]="config.querySourceSelectionOpen && config.page == IntegratorPageType.SEARCH">
        <div class="flex flex-row flex-wrap justify-center w-full gap-x-2 gap-y-2">
            <!--default, remote location-->
            <div class="flex flex-row gap-x-2 cursor-pointer items-center"
                (click)="config.querySourceSelectionRemote = true;requestSearch();">
                <input type="radio" [checked]="config.querySourceSelectionRemote"
                    class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-200 cursor-pointer"
                    [value]="config.querySourceSelectionRemote">
                <label class="text-sm font-bold text-gray-900 cursor-pointer">Remote</label>
            </div>
            <!--local location-->
            <div class="flex flex-row gap-x-2 cursor-pointer items-center"
                (click)="config.querySourceSelectionRemote = false;requestSearch();">
                <input type="radio" [checked]="!config.querySourceSelectionRemote"
                    class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-200 cursor-pointer"
                    [value]="!config.querySourceSelectionRemote">
                <label class="text-sm font-bold text-gray-900 cursor-pointer">Local</label>
            </div>
        </div>
        <ng-template [ngIf]="!config.querySourceSelectionRemote">

            <!--local config-->
            <div class="flex flex-row flex-wrap justify-center w-full gap-x-2 gap-y-2 my-1">

                <div class="flex flex-row gap-x-2 items-center">
                    <label class="text-sm font-bold text-gray-900">Strapi Port</label>
                    <input #portStrapi type="number" step="1" style="outline:none; box-shadow:none;"
                        class="input input-bordered w-16 input-sm px-1"
                        [value]="config.querySourceSelectionLocalStrapiPort" autocomplete="off"
                        (input)="config.querySourceSelectionLocalStrapiPort = portStrapi.value;">
                </div>
                <div class="flex flex-row gap-x-2 items-center">
                    <label class="text-sm font-bold text-gray-900">Bricks Port</label>
                    <input #portBricks type="number" step="1" style="outline:none; box-shadow:none;"
                        class="input input-bordered w-16 input-sm px-1"
                        [value]="config.querySourceSelectionLocalBricksPort" autocomplete="off"
                        (input)="config.querySourceSelectionLocalBricksPort = portBricks.value;">
                </div>
            </div>
            <div class="flex flex-row gap-x-2 items-center mx-4">
                <label class="text-sm font-bold text-gray-900 whitespace-nowrap">Strapi Token</label>
                <input #strapiToken type="text" step="1" style="outline:none; box-shadow:none;"
                    class="input input-bordered w-full input-sm px-1"
                    [value]="config.querySourceSelectionLocalStrapiToken" autocomplete="off"
                    (focus)="strapiToken.select();"
                    (blur)="config.querySourceSelectionLocalStrapiToken = strapiToken.value;">
            </div>
        </ng-template>
    </ng-template>
    <div class="flex justify-center">
        <div class="sm:block">
            <div class="border-b border-gray-200">
                <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                    <button (click)="switchToPage(IntegratorPageType.SEARCH)"
                        [ngClass]="config.page == IntegratorPageType.SEARCH ? 'border-indigo-500 text-indigo-600':'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Search</button>
                    <button (click)="switchToPage(IntegratorPageType.OVERVIEW)"
                        [ngClass]="[config.page == IntegratorPageType.OVERVIEW ? 'border-indigo-500 text-indigo-600':'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300', (config.api.requesting || config.api.data)?'cursor-pointer':'cursor-not-allowed']"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Overview</button>
                    <button *ngIf="executionTypeFilter!='activeLearner'"
                        (click)="switchToPage(IntegratorPageType.INPUT_EXAMPLE)"
                        [ngClass]="[config.page == IntegratorPageType.INPUT_EXAMPLE ? 'border-indigo-500 text-indigo-600':'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300', ((config.api.requesting || config.api.data) && config.api.moduleId != -1)?'cursor-pointer':'cursor-not-allowed']"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Input Example</button>
                    <button (click)="switchToPage(IntegratorPageType.INTEGRATION)"
                        [ngClass]="[config.page == IntegratorPageType.INTEGRATION ? 'border-indigo-500 text-indigo-600':'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300', (config.api.requesting || config.api.data)?'cursor-pointer':'cursor-not-allowed']"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Integration</button>

                </nav>
            </div>
        </div>
    </div>
    <!--PageSearch-->
    <div [ngClass]="config.page != IntegratorPageType.SEARCH ? 'hidden':''"
        class="flex flex-col gap-y-2 items-center my-4" style="height:28rem;width:30rem">


        <div
            class="flex flex-col w-full max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl transition-all">

            <!-- normal search box-->
            <div class="relative">
                <svg class="pointer-events-none absolute top-3.5 left-4 h-5 w-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                        clip-rule="evenodd" />
                </svg>
                <input #searchInput type="text"
                    class="h-12 w-full border-0 bg-transparent pl-11 pr-4 text-gray-800 placeholder-gray-400 outline-none"
                    placeholder="Search..." role="combobox" aria-expanded="false" aria-controls="options"
                    (keyup)="requestSearchDebounce(searchInput.value)">
                <div *ngIf="config.search.requesting" class="absolute right-0 top-3">
                    <kern-loading></kern-loading>
                </div>
            </div>
            <!-- extendedIntegrator group filtering-->
            <ng-template [ngIf]="config.extendedIntegrator">
                <div class="w-full px-4">

                    <div class="flex flex-row justify-between cursor-pointer items-center w-full mt-1"
                        (click)="config.extendedIntegratorGroupFilterOpen=!config.extendedIntegratorGroupFilterOpen">
                        <label class="text-base font-bold text-gray-900 cursor-pointer">Group Filter</label>
                        <div [ngClass]="config.extendedIntegratorGroupFilterOpen?'rotate-transform':null">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-down"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="7 7 12 12 17 7"></polyline>
                                <polyline points="7 13 12 18 17 13"></polyline>
                            </svg>
                        </div>
                    </div>
                    <div [ngClass]="config.extendedIntegratorGroupFilterOpen?'':'hidden'"
                        class="flex flex-col w-full my-2">
                        <div class="flex flex-row flex-wrap w-full gap-x-2 gap-y-2">
                            <div *ngFor="let group of config.groupFilterOptions.filterValuesArray"
                                class="flex flex-row gap-x-1 cursor-pointer items-center"
                                (click)="setGroupActive(group.key)">
                                <input type="radio" [checked]="group.active"
                                    class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-200 cursor-pointer"
                                    [value]="group.active">
                                <label class="text-sm font-bold text-gray-900 cursor-pointer">{{group.name +
                                    ' ('+group.countInGroup+')'}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- Empty state, show/hide based on command palette state -->
            <ng-template [ngIf]="config.search.nothingMatches" [ngIfElse]="showResults">

                <div class="py-6 px-6 text-center text-sm">
                    <svg class="mx-auto h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                    </svg>
                    <ng-template [ngIf]="config.search.requesting" [ngIfElse]="noResultsBackend">
                        <p class="mt-4 font-semibold text-gray-900">No preliminary results found</p>
                        <p class="mt-2 text-gray-500">We also query the backend to provide you with a more sophisticated
                            similarity search.</p>
                    </ng-template>
                    <ng-template #noResultsBackend>
                        <p class="mt-2 font-semibold text-gray-900">No results found</p>
                        <p class="mt-2 text-gray-500">No components found for this search term.</p>
                        <p class="mt-6 text-sm text-gray-500">Feel free to open an issue on GitHub if you think we
                            should add it.</p>
                        <a href="https://github.com/code-kern-ai/bricks/issues" target="_blank"
                            rel="noopener noreferrer" type="button"
                            class="mt-2 inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none"><svg
                                xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-900 mr-2" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
                                </path>
                            </svg>Open an issue on GitHub</a>
                    </ng-template>
                </div>
            </ng-template>
            <ng-template #showResults>
                <ul class="max-h-96 scroll-py-3 overflow-y-auto p-3" style="max-height:24rem" id="options"
                    role="listbox">
                    <li *ngFor="let result of config.search.results; let i = index"
                        [ngClass]="!result.searchVisible || !result.groupVisible ? 'hidden':''"
                        (click)="selectSearchResult(result.id)"
                        class="group flex flex-row items-center cursor-pointer select-none rounded-xl p-3 hover:bg-gray-100 relative"
                        id="option-1" role="option" tabindex="-1">
                        <svg *ngIf="result.attributes.moduleType == 'generator'" xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 flex-none text-gray-900 text-opacity-40" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12c2.76 0 5 -2.01 5 -4.5s-2.24 -4.5 -5 -4.5v9z"></path>
                            <path d="M12 12c0 2.76 2.01 5 4.5 5s4.5 -2.24 4.5 -5h-9z"></path>
                            <path d="M12 12c-2.76 0 -5 2.01 -5 4.5s2.24 4.5 5 4.5v-9z"></path>
                            <path d="M12 12c0 -2.76 -2.01 -5 -4.5 -5s-4.5 2.24 -4.5 5h9z"></path>
                        </svg>
                        <svg *ngIf="result.attributes.moduleType == 'classifier'" xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 flex-none text-gray-900 text-opacity-40" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14 4h6v6h-6z"></path>
                            <path d="M4 14h6v6h-6z"></path>
                            <circle cx="17" cy="17" r="3"></circle>
                            <circle cx="7" cy="7" r="3"></circle>
                        </svg>
                        <svg *ngIf="result.attributes.moduleType == 'extractor'" xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 flex-none text-gray-900 text-opacity-40" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 19h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                            <path d="M12.5 5.5l4 4"></path>
                            <path d="M4.5 13.5l4 4"></path>
                            <path d="M21 15v4h-8l4 -4z"></path>
                        </svg>
                        <div class="ml-2 flex-auto">
                            <p class="text-sm font-bold text-gray-700">{{result.attributes.name}}</p>
                            <p class="text-sm text-gray-500">{{result.attributes.description}}</p>
                        </div>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
    <!--Page Overview-->
    <div [ngClass]="config.page != IntegratorPageType.OVERVIEW ? 'hidden':''"
        class="flex flex-col gap-y-2 justify-center items-center my-4">
        <ng-template [ngIf]="config.api.requesting" [ngIfElse]="displayOverview">
            <kern-loading></kern-loading>
        </ng-template>
        <ng-template #displayOverview>
            <ng-template [ngIf]="config.api.data && config.api.moduleId >=0">
                <ng-template [ngIf]="config.extendedIntegrator" [ngIfElse]="oldDisplay">
                    <div class="grid grid-cols-2-max  gap-x-2 gap-y-2 items-center">
                        <div class="font-bold">Module Name</div>
                        <label>{{config.api.data.data.attributes.name}}</label>
                        <div class="font-bold">Description</div>
                        <label style="max-width:25rem">{{config.api.data.data.attributes.description}}</label>
                        <div class="font-bold">Bricks Link</div>
                        <a href="{{config.api.data.data.attributes.bricksLink}}" target="_blank"><span
                                class="underline cursor-pointer">{{config.api.data.data.attributes.name}}</span></a>

                        <div class="col-start-1 col-span-full">
                            <div class="flex flex-row justify-between cursor-pointer items-center"
                                (click)="config.extendedIntegratorOverviewAddInfoOpen=!config.extendedIntegratorOverviewAddInfoOpen">
                                <label
                                    class="text-base font-bold text-gray-900 cursor-pointer underline">Details</label>
                                <div [ngClass]="config.extendedIntegratorOverviewAddInfoOpen?'rotate-transform':null">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-chevrons-down" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <polyline points="7 7 12 12 17 7"></polyline>
                                        <polyline points="7 13 12 18 17 13"></polyline>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="contents" [ngClass]="config.extendedIntegratorOverviewAddInfoOpen?'':'hidden'">
                            <div class="font-bold">Github Issue Link</div>
                            <a href="{{config.api.data.data.attributes.issueLink}}" target="_blank"><span
                                    class="underline cursor-pointer">#{{config.api.data.data.attributes.issueId}}</span></a>
                            <div class="font-bold">Min Refinery Version</div>
                            <label>{{config.api.data.data.attributes.minRefineryVersion}}</label>
                            <div class="font-bold">Grouping</div>
                            <label>{{config.api.data.data.attributes.partOfGroupText}}</label>
                            <div class="font-bold">Execution Type</div>
                            <label>{{config.api.data.data.attributes.executionType}}</label>
                            <div class="font-bold">Module Type</div>
                            <label>{{config.api.data.data.attributes.moduleType}}</label>
                            <div class="font-bold">Data Type</div>
                            <label>{{config.api.data.data.attributes.integratorInputs?.refineryDataType}}</label>
                        </div>
                        <div class="col-start-1 col-span-full">
                            <div class="flex flex-row justify-between cursor-pointer items-center"
                                (click)="config.overviewCodeOpen=!config.overviewCodeOpen">
                                <label class="text-base font-bold text-gray-900 cursor-pointer"><span
                                        class="underline">Source Code</span>
                                    <span class="text-sm font-normal">&nbsp;(guided integration through tab
                                        integration)</span></label>
                                <div [ngClass]="config.overviewCodeOpen?'rotate-transform':null">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-chevrons-down" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <polyline points="7 7 12 12 17 7"></polyline>
                                        <polyline points="7 13 12 18 17 13"></polyline>
                                    </svg>
                                </div>
                            </div>
                            <div [ngClass]="config.overviewCodeOpen?'':'hidden'"
                                class="flex flex-col mt-1 items-center">

                                <div class="overflow-y-auto" style="max-height:15rem;max-width: 35rem;">
                                    <pre class="editor-pre"
                                        [ngStyle]="{'overflow-x':config.overviewCodeOpen? 'auto': 'hidden'}">{{codeParser.baseCode}}</pre>
                                </div>
                                <div class="mt-2 tooltip"
                                    [attr.data-tip]="config.copied?'Copied':'Click to copy raw code'">

                                    <button (click)="copyToClipboard(codeParser.baseCode)" type="button"
                                        class="bg-indigo-700 text-white text-xs font-semibold px-4 py-2 rounded-md border hover:bg-indigo-800 focus:outline-none">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #oldDisplay>

                    <div class="grid grid-cols-2-max  gap-x-2 gap-y-2 items-center">
                        <div class="font-bold">Module Id</div>
                        <label>{{config.api.data.data.id}}</label>
                        <div class="font-bold">Module Name</div>
                        <label>{{config.api.data.data.attributes.name}}</label>
                        <div class="font-bold">Description</div>
                        <label style="max-width:25rem">{{config.api.data.data.attributes.description}}</label>
                        <div class="font-bold">Execution Type</div>
                        <label>{{config.api.data.data.attributes.executionType}}</label>
                        <div class="font-bold">Module Type</div>
                        <label>{{config.api.data.data.attributes.moduleType}}</label>
                        <div class="font-bold">Link</div>
                        <a href="{{config.api.data.data.attributes.link}}" target="_blank"><span
                                class="underline cursor-pointer">{{config.api.data.data.attributes.name}}</span></a>
                        <div class="col-start-1 col-span-full">
                            <div class="flex flex-row justify-between cursor-pointer items-center"
                                (click)="config.overviewCodeOpen=!config.overviewCodeOpen">
                                <label class="text-base font-bold text-gray-900 cursor-pointer"><span
                                        class="underline">Source Code</span>
                                    <span class="text-sm font-normal">&nbsp;(guided integration through tab
                                        integration)</span></label>
                                <div [ngClass]="config.overviewCodeOpen?'rotate-transform':null">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-chevrons-down" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <polyline points="7 7 12 12 17 7"></polyline>
                                        <polyline points="7 13 12 18 17 13"></polyline>
                                    </svg>
                                </div>
                            </div>
                            <div [ngClass]="config.overviewCodeOpen?'':'hidden'"
                                class="flex flex-col mt-1 items-center">

                                <div class="overflow-y-auto" style="max-height:15rem;max-width: 35rem;">
                                    <pre class="editor-pre"
                                        [ngStyle]="{'overflow-x':config.overviewCodeOpen? 'auto': 'hidden'}">{{codeParser.baseCode}}</pre>
                                </div>
                                <div class="mt-2 tooltip"
                                    [attr.data-tip]="config.copied?'Copied':'Click to copy raw code'">

                                    <button (click)="copyToClipboard(codeParser.baseCode)" type="button"
                                        class="bg-indigo-700 text-white text-xs font-semibold px-4 py-2 rounded-md border hover:bg-indigo-800 focus:outline-none">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
            <ng-template [ngIf]="config.api.moduleId <0 ">
                <textarea #codeInput
                    class="textarea placeholder-italic w-full p-2 line-height-textarea h-20 focus:outline-none border border-gray-300"
                    placeholder="Example Module Code" (change)="setCodeTesterCode(codeInput.value)"
                    style="width: min(80vw,1000px);height:min(80vh,850px);">{{config.api.data.data.attributes.sourceCode}}</textarea>

            </ng-template>
        </ng-template>
    </div>
    <!--Page Input Example-->
    <div [ngClass]="config.page != IntegratorPageType.INPUT_EXAMPLE ? 'hidden':''"
        class="flex flex-col gap-y-2 justify-center items-center my-4">
        <label>Input data:</label>


        <textarea #exampleInput
            class="textarea placeholder-italic w-full p-2 line-height-textarea h-20 focus:outline-none border border-gray-300"
            placeholder="Example Input Data" [value]="config.example.requestData"
            [ngStyle]="{'height':(exampleInput.scrollHeight+2) + 'px','overflow-y':exampleInput.scrollHeight < 400 ? 'hidden':'auto'}"></textarea>
        <div class="flex flex-row justify-between items-center w-full">
            <button
                (click)="exampleInput.value=config.api.data.data.attributes.inputExample; config.example.returnData=null;"
                type="button"
                class="bg-indigo-700 text-white text-xs font-semibold px-4 py-2 rounded-md border hover:bg-indigo-800 focus:outline-none">Reset
                to default</button>
            <button (click)="config.example.requestData=exampleInput.value;requestExample();" type="button"
                class="bg-indigo-700 text-white text-xs font-semibold px-4 py-2 rounded-md border hover:bg-indigo-800 focus:outline-none">Request
                Example</button>
        </div>
        <ng-template [ngIf]="config.example.requesting" [ngIfElse]="displayExample">
            <kern-loading></kern-loading>
        </ng-template>
        <ng-template #displayExample>
            <ng-template [ngIf]="config.example.returnData">

                <textarea disabled #exampleOutput
                    class="textarea placeholder-italic w-full p-2 line-height-textarea focus:outline-none border border-gray-300 bg-gray-200"
                    [ngStyle]="{'height':(exampleOutput.scrollHeight+2) + 'px','overflow-y':exampleOutput.scrollHeight < 400 ? 'hidden':'auto'}">{{config.example.returnData}}</textarea>
            </ng-template>
        </ng-template>
    </div>
    <!--Page Integration-->
    <div [ngClass]="config.page != IntegratorPageType.INTEGRATION ? 'hidden':''"
        class="flex flex-col gap-y-2 justify-center items-center my-4">
        <ng-template [ngIf]="codeParser?.errors.length>0">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative flex flex-col"
                role="alert">
                <div class="self-center flex flex-row flex-nowrap items-center -mt-1 mb-1">
                    <strong class="font-bold">Couldn't parse code</strong>
                    <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <pre class="text-sm overflow-x-auto">{{codeParser.errors.join("\n")}}</pre>
            </div>
        </ng-template>
        <ng-template
            [ngIf]="codeParser?.expected.expectedTaskLabels && codeParser.expected.expectedTaskLabels.length>0">
            <ng-template [ngIf]="codeParser.expected.labelWarning" [ngIfElse]="informLabels">
                <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative flex flex-col gap-y-2"
                    role="alert">
                    <div class="self-center flex flex-row flex-nowrap items-center -mt-1">
                        <strong class="font-bold">Warning</strong>
                        <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <label class="text-sm -mt-1">Your selected task doesn't have all necessary
                        labels:</label>
                    <div class="flex flex-row flex-wrap gap-2" style="max-width:30rem">
                        <span class="text-sm inline-flex items-center"
                            *ngFor="let label of codeParser.expected.expectedTaskLabels">
                            <label [ngClass]="[label.backgroundColor, label.textColor, label.borderColor]"
                                class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium border">
                                {{label.label}}
                                <ng-template [ngIf]="label.exists" [ngIfElse]="labelMissing">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-4 h-4 -mr-1 ml-1">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M4.5 12.75l6 6 9-13.5" />
                                    </svg>
                                </ng-template>
                                <ng-template #labelMissing>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-4 h-4 -mr-1 ml-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </ng-template>
                            </label>
                        </span>
                    </div>
                    <div class="flex flex-row justify-center gap-x-1">
                        <label (click)="codeParser.activeLabelMapping()"
                            class="cursor-pointer bg-white text-gray-700 text-xs font-semibold whitespace-nowrap px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none">
                            Map labels
                        </label>
                        <label *ngIf="codeParser.expected.canCreateTask" (click)="createNewLabelingTask()"
                            class="cursor-pointer bg-white text-gray-700 text-xs font-semibold whitespace-nowrap px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none">
                            Create new task
                        </label>
                        <label (click)="addMissingLabelsToTask()"
                            class="cursor-pointer bg-white text-gray-700 text-xs font-semibold whitespace-nowrap px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none">
                            Add missing labels ({{codeParser.expected.labelsToBeCreated}}x)
                        </label>
                    </div>

                </div>
            </ng-template>
            <ng-template #informLabels>
                <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative flex flex-col gap-y-2"
                    role="alert">
                    <div class="self-center flex flex-row flex-nowrap items-center -mt-1">
                        <strong class="font-bold">Information</strong>
                        <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <label class="text-sm -mt-1">All necessary labels found in
                        task:</label>
                    <div class="flex flex-row flex-wrap gap-2" style="max-width:30rem">
                        <span class="text-sm inline-flex items-center"
                            *ngFor="let label of codeParser.expected.expectedTaskLabels">
                            <label [ngClass]="[label.backgroundColor, label.textColor, label.borderColor]"
                                class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium border">
                                {{label.label}}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 -mr-1 ml-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                </svg>
                            </label>
                        </span>
                    </div>
                    <div class="flex flex-row justify-center gap-x-1">
                        <label (click)="codeParser.activeLabelMapping()"
                            class="cursor-pointer bg-white text-gray-700 text-xs font-semibold whitespace-nowrap px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none">
                            Map labels anyway
                        </label>
                    </div>
                </div>
            </ng-template>

        </ng-template>

        <ng-template [ngIf]="codeParser?.globalComments && codeParser.globalComments.length>0">
            <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative flex flex-col"
                role="alert">
                <div class="self-center flex flex-row flex-nowrap items-center -mt-1 mb-1">
                    <strong class="font-bold">Information</strong>
                    <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex flex-col" style="max-width:30rem">
                    <span class="text-sm" *ngFor="let cLine of codeParser.globalComments">
                        {{cLine}}
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="codeParser?.variables.length == 0" [ngIfElse]="displaySelectionHelper">
            <label>Nothing to parse, code can be used without changes</label>
        </ng-template>

        <ng-template #displaySelectionHelper>

            <div class="grid grid-cols-3-max gap-x-2 gap-y-2 items-center pb-4 px-4">
                <label class="font-bold col-start-1">{{functionType}} name</label>
                <div class="contents">
                    <input class="input input-bordered col-span-1 input-sm" type="text"
                        style="outline:none; box-shadow:none;" (input)="onInputFunctionName($event)"
                        [value]="codeParser.functionName" />
                </div>
                <div class="col-span-1 inline-flex">
                    <div class="tooltip" *ngIf=" codeParser.nameTaken"
                        attr.data-tip="{{functionType + ' name exists'}}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-alert-triangle text-red-700" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 9v2m0 4v.01" />
                            <path
                                d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                        </svg>
                    </div>
                </div>

                <ng-template [ngIf]="codeParser.labelingTaskName">

                    <label class="font-bold col-start-1">Labeling Task</label>
                    <kern-dropdown [dropdownOptions]="{
                    optionArray:codeParser.labelingTasks,
                    buttonCaption:codeParser.labelingTaskName,
                    emitIndex:true
                }" (optionClicked)="selectDifferentTask(codeParser.labelingTasks[$event].id)">
                    </kern-dropdown>
                    <div class="tooltip" data-tip="Switching a task will reset the integrator progress!">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                        </svg>
                    </div>
                </ng-template>
                <label class="font-bold">Variable</label>
                <label class="font-bold">Value</label>
                <div class="contents" *ngFor="let v of codeParser.variables;let i = index">
                    <label class="text-sm col-start-1" data-tip="optional"
                        [ngClass]="v.optional?'text-gray-400 tooltip tooltip-left text-left':''">{{v.displayName}}<span
                            *ngIf="!v.optional">*</span></label>
                    <ng-container class="contents" [ngTemplateOutlet]="variableSelect"
                        [ngTemplateOutletContext]="{variable:v,j:i}">
                    </ng-container>
                    <div *ngIf="v.comment" class="tooltip" [attr.data-tip]="v.comment">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                            <polyline points="11 12 12 12 12 16 13 16"></polyline>
                        </svg>
                    </div>
                </div>
                <ng-template [ngIf]="codeParser.expected.labelMappingActive">
                    <label class="font-bold col-start-1">Bricks label</label>
                    <label class="font-bold">Refinery label</label>
                    <div class="contents" *ngFor="let l of codeParser.expected.expectedTaskLabels;let i = index">
                        <label class="text-sm col-start-1">{{l.label}}</label>
                        <kern-dropdown [dropdownOptions]="{
                            optionArray:codeParser.expected.availableLabels,
                            buttonCaption:l.mappedLabel?l.mappedLabel:'Ignore',
                            emitIndex:true
                        }"
                            (optionClicked)="codeParser.expected.expectedTaskLabels[i].mappedLabel = codeParser.expected.availableLabels[$event].name;codeParser.replaceVariables()">
                        </kern-dropdown>
                        <div class="tooltip" *ngIf="codeParser.expected.expectedTaskLabels[i].mappedLabel != null"
                            data-tip="Clear">
                            <svg (click)="codeParser.expected.expectedTaskLabels[i].mappedLabel = null;codeParser.replaceVariables()"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6 cursor-pointer">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                    </div>
                </ng-template>

            </div>
        </ng-template>
        <div class="w-full">
            <div class="flex flex-row justify-between cursor-pointer items-center"
                (click)="config.integratorCodeOpen=!config.integratorCodeOpen">
                <label class="text-base font-bold text-gray-900 cursor-pointer">Final Code</label>
                <div [ngClass]="config.integratorCodeOpen?'rotate-transform':null">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-down"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="7 7 12 12 17 7"></polyline>
                        <polyline points="7 13 12 18 17 13"></polyline>
                    </svg>
                </div>
            </div>
            <div [ngClass]="config.integratorCodeOpen?'':'hidden'" class="flex flex-col mt-1 items-center">
                <div class="overflow-y-auto" style="max-height:15rem;max-width: 35rem;">
                    <pre class="editor-pre"
                        [ngStyle]="{'overflow-x':config.overviewCodeOpen? 'auto': 'hidden'}">{{config.preparedCode}}</pre>
                </div>
            </div>
        </div>

        <ng-template [ngIf]="config.api.moduleId == -2">
            <div class="w-full">
                <div class="flex flex-row justify-between cursor-pointer items-center"
                    (click)="config.integratorParseOpen=!config.integratorParseOpen">
                    <label class="text-base font-bold text-gray-900 cursor-pointer">Final Json</label>
                    <div [ngClass]="config.integratorParseOpen?'rotate-transform':null">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-down"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <polyline points="7 7 12 12 17 7"></polyline>
                            <polyline points="7 13 12 18 17 13"></polyline>
                        </svg>
                    </div>
                </div>

                <div [ngClass]="config.integratorParseOpen?'':'hidden'" class="flex flex-col mt-1 items-center">
                    <div class="overflow-y-auto" style="max-height:15rem;max-width: 35rem;">
                        <pre class="editor-pre"
                            [ngStyle]="{'overflow-x':config.overviewCodeOpen? 'auto': 'hidden'}">{{config.preparedJson}}</pre>
                    </div>
                    <div class="flex flex-row flex-wrap gap-2">
                        <div class="flex flex-row flex-nowrap cursor-pointer"
                            (click)="config.prepareJsonAsPythonEnum = !config.prepareJsonAsPythonEnum;codeParser.replaceVariables();">
                            <input class="h-5 w-5 cursor-pointer" type="checkbox"
                                [checked]='config.prepareJsonAsPythonEnum'>
                            <label class="text-sm ml-1">Prepare as enum</label>
                        </div>
                        <div class="flex flex-row flex-nowrap cursor-pointer"
                            (click)="config.prepareJsonRemoveYOUR = !config.prepareJsonRemoveYOUR;codeParser.replaceVariables();">
                            <input class="h-5 w-5 cursor-pointer" type="checkbox"
                                [checked]='config.prepareJsonRemoveYOUR'>
                            <label class="text-sm ml-1">Remove YOUR_</label>
                        </div>

                    </div>
                    <div class="mt-2 tooltip" [attr.data-tip]="config.copied?'Copied':'Click to copy json'">

                        <button (click)="copyToClipboard(config.preparedJson)" type="button"
                            class="bg-indigo-700 text-white text-xs font-semibold px-4 py-2 rounded-md border hover:bg-indigo-800 focus:outline-none">Copy</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

</kern-modal>



<ng-template #variableSelect let-variable="variable" let-j="j">
    <div class="col-start-2 flex flex-row flex-nowrap items-center gap-x-2"
        *ngFor="let value of variable.values;let i=index">
        <ng-container [ngSwitch]="variable.type">
            <ng-template ngSwitchDefault>
                Unknown Variable Type
            </ng-template>
            <ng-template ngSwitchCase="ATTRIBUTE">
                <kern-dropdown [dropdownOptions]="{
                optionArray:variable.allowedValues,
                buttonCaption:variable.values[i]?variable.values[i]:'Select attribute',
                emitIndex:true
            }" (optionClicked)="variable.values[i] = variable.allowedValues[$event].name;codeParser.replaceVariables()">
                </kern-dropdown>
            </ng-template>
            <ng-template ngSwitchCase="LANGUAGE">
                <kern-dropdown [dropdownOptions]="{
                optionArray:variable.allowedValues,
                buttonCaption:variable.values[i]?variable.values[i]:'Select language',
                emitIndex:true
            }" (optionClicked)="variable.values[i] = variable.allowedValues[$event].code;codeParser.replaceVariables()">
                </kern-dropdown>
            </ng-template>
            <ng-template ngSwitchCase="LABELING_TASK">
                <kern-dropdown [dropdownOptions]="{
                optionArray:variable.allowedValues,
                buttonCaption:variable.values[i]?variable.values[i]:'Select task',
                emitIndex:true
            }" (optionClicked)="variable.values[i] = variable.allowedValues[$event].name;codeParser.replaceVariables()">
                </kern-dropdown>
            </ng-template>
            <ng-template ngSwitchCase="LABEL">
                <kern-dropdown [dropdownOptions]="{
                    optionArray:variable.allowedValues,
                    buttonCaption:variable.values[i]?variable.values[i]:'Select label',
                    emitIndex:true
                }"
                    (optionClicked)="variable.values[i] = variable.allowedValues[$event].name;codeParser.replaceVariables()">
                </kern-dropdown>
            </ng-template>
            <ng-template ngSwitchCase="EMBEDDING">
                <kern-dropdown [dropdownOptions]="{
                    optionArray:variable.allowedValues,
                    buttonCaption:variable.values[i]?variable.values[i]:'Select embedding',
                    emitIndex:true
                }"
                    (optionClicked)="variable.values[i] = variable.allowedValues[$event].name;codeParser.replaceVariables()">
                </kern-dropdown>
            </ng-template>
            <ng-template ngSwitchCase="LOOKUP_LIST">
                <kern-dropdown [dropdownOptions]="{
                    optionArray:variable.allowedValues,
                    buttonCaption:variable.values[i]?variable.values[i]:'Select lookup list',
                    emitIndex:true
                }"
                    (optionClicked)="variable.values[i] = variable.allowedValues[$event].pythonVariable;codeParser.replaceVariables()">
                </kern-dropdown>
            </ng-template>
            <ng-template ngSwitchCase="GENERIC_CHOICE">
                <kern-dropdown [dropdownOptions]="{
                    optionArray:variable.allowedValues,
                    buttonCaption:variable.values[i]?variable.values[i]:'Select option',
                    emitIndex:true
                }" (optionClicked)="variable.values[i] = variable.allowedValues[$event];codeParser.replaceVariables()">
                </kern-dropdown>
            </ng-template>
            <ng-template ngSwitchCase="REGEX">
                <input #regex type="text" class="input input-bordered input-sm" style="outline:none; box-shadow:none;"
                    [value]="variable.values[i]" [id]="'REGEX_'+j+'_'+i" autocomplete="off"
                    (keyup)="debounceSetGeneric(variable,i,regex);">
            </ng-template>

            <ng-template ngSwitchCase="GENERIC_STRING">
                <input #genText type="text" class="input input-bordered input-sm"
                    style="outline:none; box-shadow:none;min-width: 10rem;max-width: 25rem;"
                    [ngClass]="variable.values[i]?.length>20?'w-60':'w-50'" [value]="variable.values[i]"
                    [id]="'GENERIC_STRING_'+j+'_'+i" autocomplete="off" (focus)="genText.select()"
                    (keyup)="debounceSetGeneric(variable,i,genText);">
            </ng-template>
            <ng-template ngSwitchCase="GENERIC_INT">
                <input #genInt type="number" step="1" style="outline:none; box-shadow:none;"
                    class="input input-bordered w-20 input-sm" [value]="variable.values[i]" autocomplete="off"
                    [id]="'GENERIC_INT_'+j + '_' + i" (change)="debounceSetGeneric(variable,i,genInt);">
            </ng-template>
            <ng-template ngSwitchCase="GENERIC_FLOAT">
                <input #genFloat type="number" step="0.01" class="input input-bordered w-20 input-sm"
                    style="outline:none; box-shadow:none;" [value]="variable.values[i]" autocomplete="off"
                    [id]="'GENERIC_FLOAT_'+j + '_' + i" (change)="debounceSetGeneric(variable,i,genFloat);">
            </ng-template>
            <ng-template ngSwitchCase="GENERIC_BOOLEAN">
                <div class="mr-2 h-4 w-4 border-gray-300 border rounded cursor-pointer hover:bg-gray-200"
                    [id]="'GENERIC_BOOLEAN_'+j + '_' + i" (click)="setActiveNegateColorAndValue(variable,i)"
                    autocomplete="off"
                    [ngStyle]="{'background-color':variable.options.colors[i], 'border-color':variable.options.colors[i]}">
                </div>
            </ng-template>
            <ng-template ngSwitchCase="GENERIC_RANGE">
                <div class="flex flex-row flex-nowrap items-center gap-x-2">
                    <input #genRange type="range" step="0.1" class="input input-bordered input-sm px-0"
                        min="{{variable.allowedValues[0]}}" max="{{variable.allowedValues[1]}}"
                        style="outline:none; box-shadow:none;" [value]="variable.values[i]" autocomplete="off"
                        [id]="'GENERIC_RANGE_'+j + '_' + i" (change)="debounceSetGeneric(variable,i,genRange);"
                        (input)="genRange.nextElementSibling.value = genRange.value">
                    <output>{{variable.values[i]}}</output>
                </div>

            </ng-template>
        </ng-container>
        <div *ngIf="variable.values.length > 1" (click)="removeValueEntry(variable,i)"
            class="cursor-pointer btn hover:border-transparent hover:bg-transparent border-transparent bg-transparent btn-xs px-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-black inline-block w-4 h-4 stroke-current" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
        </div>
        <label *ngIf="variable.canMultipleValues && i==variable.values.length-1"
            class="inline-flex items-center px-0.5 py-0.5 border border-gray-200 shadow-sm text-xs font-medium rounded text-gray-700 bg-white focus:outline-none cursor-pointer"
            [ngClass]="{'bg-gray-200':!!genericDebounceTimer}"
            (click)="!!genericDebounceTimer ? null:variable.values.push(null);codeParser.replaceVariables();">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
            </div>
        </label>
    </div>
</ng-template>