.hover_parent {
  transition: max-height 0.25s ease-in-out;
  max-height: 1px;
  overflow: hidden;
}

.hover_parent_hover {
  max-height: 200px;
  overflow: unset;
}

.hover_child {
  display: none;
}

.hover_child_hover {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.blink_me {
  background-color: #858585;

  -webkit-animation: blinker 1s ease-in-out infinite;
  -moz-animation: blinker 1s ease-in-out infinite;
  animation: blinker 1s ease-in-out infinite;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.borders-gray {
  border-top: 1px solid #D1D5DB;
  border-bottom: 1px solid #D1D5DB;
}

svg.noFillStar:hover {
  fill: #6DD87F;
  opacity: 0.5;
}

.wait,
.wait * {
  cursor: wait;
}

.tooltip::before {
  z-index: 50;
}