<div class="mt-8">
    <div class="text-lg leading-6 text-gray-900 font-medium inline-flex items-center">
        <span class="mr-2">
            Gates integration
        </span>
        <ng-container [ngSwitch]="gatesIntegrationData?.status">
            <span *ngSwitchCase="'READY'"
                class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-green-300 text-green-800">
                <svg class="mr-1.5 h-2 w-2" [ngClass]="'text-green-400'" fill="currentColor" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3" />
                </svg>
                Ready to Use
            </span>
            <span *ngSwitchCase="'UPDATING'"
                class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-800">
                <svg class="mr-1.5 h-2 w-2" [ngClass]="'text-yellow-400'" fill="currentColor" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3" />
                </svg>
                Updating
            </span>
            <span *ngSwitchCase="'NOT_READY'"
                class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-300 text-red-800">
                <svg class="mr-1.5 h-2 w-2" [ngClass]="'text-red-400'" fill="currentColor" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3" />
                </svg>
                Not Ready
            </span>
        </ng-container>
    </div>
    <div class="mt-1">
        <div class="text-sm leading-5 font-medium text-gray-700 inline-block">
            Gates is the inference API for refinery.
            <ng-container [ngSwitch]="gatesIntegrationData?.status">
                <ng-container *ngSwitchCase="'READY'">
                    This project is ready to be used with Gates. You can switch to the Gates App to configure and run it.
                </ng-container>
                <ng-container *ngSwitchCase="'UPDATING'">
                    This project is currently updated to be used with Gates.
                </ng-container>
                <ng-container *ngSwitchCase="'NOT_READY'">
                    This project is not ready to be used with Gates. You can update the project to make it ready.
                    This will rerun the project's embeddings and heuristics to create the necessary data for Gates.
                    <div>
                        <label (click)="updateProjectForGates()"
                        class="mr-1 mt-2 inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-reload" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M19.933 13.041a8 8 0 1 1 -9.925 -8.788c3.899 -1 7.935 1.007 9.425 4.747"></path>
                                <path d="M20 4v5h-5"></path>
                            </svg>
                            <span class="leading-5 ml-1">
                                Update Project
                            </span>
                        </label>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>