<div class="h-screen bg-gray-100 flex overflow-hidden">
    <kern-sidebar-pm (firstName)="getFirstName($event)">
    </kern-sidebar-pm>
    <!-- Content area -->
    <div class="h-full w-full flex-1 flex flex-col overflow-auto">
        <kern-header [user]="user$ | async" [organizationName]="organizationName" [avatarUri]="avatarUri"
            page="project-new"></kern-header>

        <kern-upload [uploadFileType]="UploadFileType.RECORDS_NEW" [uploadOptions]="{
            deleteProjectOnFail: true,
            tokenizerValues: tokenizerValues,
            projectNameList:projectNameList
        }"></kern-upload>
    </div>
</div>