<div *ngIf="projectId" class="p-4 h-full bg-gray-100 flex-1 flex flex-col">
    <ng-container *ngIf="knowledgeBases$ | async as knowledgeBases">
        <div class="w-full ">
            <div class="flex-shrink-0 block sm:flex justify-between items-center">
                <div class="text-lg leading-6 text-gray-900 font-medium inline-block">
                    Lookup lists
                </div>
                <div class="grid grid-cols-1 gap-4 xs:flex xs:gap-0 flex-row flex-nowrap items-center">

                    <ng-template [ngIf]="knowledgeBases.length > 0" [ngIfElse]="noLookupLists">
                        <kern-dropdown class="mr-3" [dropdownOptions]="{
                            optionArray:['Select all','Deselect all', 'Delete selected'],
                            optionIcons:['select-all','deselect-all', 'delete-selected'],
                            buttonTooltip:'Actions',
                            buttonTooltipPosition: 'left',
                            buttonCaption: 'Actions',
                            isOptionDisabled: [false, false, this.selectedLookupLists.length == 0]
                        }" (optionClicked)="executeOption($event)">
                        </kern-dropdown>

                        <input #deleteSelectedLists type="checkbox" id="delete-modal-selected" class="modal-toggle">
                        <div class="modal text-center items-center">
                            <div class="modal-box">
                                <h1 class="text-lg text-gray-900 mb-2">Delete lookup {{ selectedLookupLists.length == 1
                                    ? 'list' : 'lists' }}</h1>
                                <div class="text-sm text-gray-500 my-2 flex flex-col">
                                    <span>Are you sure you want to delete selected lookup {{ selectedLookupLists.length
                                        == 1 ? 'list' : 'lists' }}?</span>
                                    <span>Currently selected {{ selectedLookupLists.length == 1 ? 'is' : 'are'
                                        }}:</span>
                                    <span class="whitespace-pre-line font-bold">{{selectionList}}</span>
                                </div>

                                <div class="modal-action text-center">
                                    <label for="delete-modal-selected"
                                        class="bg-red-100 text-red-700 border border-red-400 text-xs font-semibold mr-2 px-4 py-2 rounded flex cursor-pointer inline-block hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                                        (click)="deleteSelectedLookupLists()">Delete</label>
                                    <label for="delete-modal-selected"
                                        class="bg-white text-gray-700 text-xs font-semibold mr-4 px-4 py-2 rounded border border-gray-300 cursor-pointer hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Close</label>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #noLookupLists>
                        <div data-tip="At least one lookup list is needed to enable actions"
                            class="tooltip tooltip-left mr-3">
                            <button type="button"
                                class="inline-flex items-center justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-1.5 bg-white text-xs font-medium text-gray-700 opacity-50 cursor-not-allowed focus:ring-offset-2 focus:ring-offset-gray-400"
                                id="menu-button" aria-expanded="true" aria-haspopup="true">
                                Actions
                                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </ng-template>

                    <div class="flex justify-center overflow-visible" (click)="createKnowledgeBase(projectId)">
                        <button data-tip="Create a new lookup list"
                            class="tooltip tooltip-left bg-white text-gray-700 text-xs font-medium mr-3 px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            New list
                        </button>
                    </div>

                    <div class="flex justify-center overflow-visible">
                        <button [routerLink]="['../heuristics']" data-tip="Go to heuristics overview"
                            class="tooltip tooltip-left bg-white text-gray-700 text-xs font-medium mr-3 px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Heuristics
                        </button>
                    </div>

                    <div class="flex justify-center overflow-visible">
                        <button [routerLink]="['../model-callbacks']" data-tip="Go to the model callbacks"
                            class="tooltip tooltip-left bg-white text-gray-700 text-xs font-medium mr-3 px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Model callbacks
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="knowledgeBases.length == 0; else knowledgeBasesList">
                <div class="text-gray-500 font-normal mt-8">
                    <p class="text-xl leading-7">Seems like your project has no lookup list yet.</p>
                    <p class="text-base mt-3 leading-6">You can create one from the button New list in the bar above.
                        Also, we got some quicklinks from our <a href="https://docs.kern.ai/" target="_blank"><span
                                class="underline cursor-pointer">documentation</span></a>, if you want to dive deeper.
                    </p>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
                    <div>
                        <div class="text-gray-900 text-xl leading-7 font-semibold">Automatically building lookup lists
                        </div>
                        <div class="text-gray-500 text-base leading-6 font-normal mt-3">When you label for an extraction
                            task, we automatically generate a lookup list with that label name. Also, each labeled span
                            is going to be stored in that list. That way, you can just label your data, and we collect
                            your entities.</div>
                        <div
                            class="text-green-800 hover:text-green-500 text-base leading-6 font-semibold mt-3 cursor-pointer">
                            <a href="https://docs.kern.ai/docs/building-labeling-functions#lookup-lists-for-distant-supervision"
                                target="_blank">Read about lookup lists</a>
                        </div>
                    </div>
                    <div>
                        <div class="text-gray-900 text-xl leading-7 font-semibold">Building labeling functions using
                            lookup lists</div>
                        <div class="text-gray-500 text-base leading-6 font-normal mt-3">Labeling functions can be
                            implemented to look up these lists, such that you don't need to maintain the function code,
                            but can instead cover the lookup list. There are plenty other template functions, which you
                            can check out in our public GitHub repository.</div>
                        <div
                            class="text-green-800 hover:text-green-500 text-base leading-6 font-semibold mt-3 cursor-pointer">
                            <a href="https://github.com/code-kern-ai/template-functions" target="_blank">Read about
                                template functions</a>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #knowledgeBasesList>
                <div class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2 lg:grid-cols-3">
                    <div *ngFor="let base of knowledgeBases; let i = index"
                        class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 h-28">
                        <div class="h-full">
                            <input #checkboxes type="checkbox" class="cursor-pointer" (click)="toggleCheckbox(base)">
                        </div>
                        <div class="h-full flex-1 min-w-0 text-sm leading-5">
                            <div class="flow-root font-medium">
                                <div class="text-gray-900 float-left italic">
                                    {{base.name}}
                                </div>
                                <div class="text-green-800 float-right cursor-pointer" [routerLink]="['./' + base.id]">
                                    Details
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M13 7l5 5m0 0l-5 5m5-5H6" />
                                    </svg>
                                </div>
                            </div>
                            <div class="flex-row gap-16 font-normal text-gray-500"
                                [ngClass]="base.description ? 'flex' : 'block'">
                                <div class="line-clamp-wrapper">
                                    <div class="italic line-clamp">
                                        {{base.description}}
                                    </div>
                                </div>
                                <div class="flex-grow flex-shrink-0">
                                    <span class="float-right">{{base.termCount + ' item' +
                                        (base.termCount==1?'':'s')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-container>
</div>