.tooltip::before {
  z-index: 50;
}

.margin-svg {
  margin-top: -26px;
}

.border-bottom {
  border-bottom: 1px solid #4F46E5;
}

@media (max-width: 1280px) {
  .width-line {
    width: 100% !important;
  }
}

.width-line {
  width: calc(100vw - 850px);
}

@media (max-width: 1360px) {
  .flex_container {
    column-count: 2 !important;
  }
}

.flex_container {
  column-count: 3;
  column-gap: 1rem;
}

.item {
  margin-bottom: 20px;
  min-width: 410px;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -moz-page-break-inside: avoid;
  page-break-inside: avoid;
}

.border-disabled {
  border: 1px solid rgb(209 213 219);
  pointer-events: all !important;
}