<div *ngIf="project" class="p-4 bg-gray-100 h-full flex-1 flex flex-col">
    <ng-container *ngIf="informationSources$ | async as informationSources">
        <div class="w-full h-full">
            <div class="flex-shrink-0 block xl:flex justify-between items-center">
                <div class="flex width-line border-b-2 border-b-gray-200 max-w-full">
                    <div class="overflow-x-auto flex">
                        <div class="cursor-pointer text-sm leading-5 font-medium mr-10 py-5"
                            (click)="toggleTabs(-1,null)"
                            [ngClass]="openTab == -1 ? 'text-indigo-700 border-bottom' : 'text-gray-500'">All</div>
                        <div *ngFor="let labelingTask of labelingTasks;let i=index"
                            (click)="toggleTabs(i, labelingTask)"
                            [ngClass]="openTab == i ? 'text-indigo-700 border-bottom' : 'text-gray-500' "
                            class="text-sm leading-5 font-medium mr-10 cursor-pointer py-5 whitespace-nowrap">
                            {{labelingTask.name}}
                        </div>
                    </div>
                    <div data-tip="Add new labeling task" class="tooltip tooltip-left">
                        <button (click)="navigateToSettings()"><svg xmlns="http://www.w3.org/2000/svg"
                                class="h-5 w-5 text-gray-500 my-5 cursor-pointer" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                            </svg></button>
                    </div>
                </div>
                <div
                    class="grid grid-cols-2 sm:grid-cols-3 gap-4 md:flex md:gap-0 flex-row flex-nowrap items-center mt-4 xl:mt-0 ">
                    <ng-template [ngIf]="labelingTasks && labelingTasks.length > 0" [ngIfElse]="noTasks">
                        <kern-dropdown class="mr-3" [dropdownOptions]="{
                            optionArray: ['Labeling function', 'Active learning', 'Zero-shot','Crowd labeling'],
                            optionIcons: ['labeling-function','active-learning','zero-shot','crowd-labeling'],
                            isOptionDisabled: [false, false, !(labelingTasksClassification && labelingTasksClassification.length > 0), !isManaged],
                            optionTooltips: [null, null, null, isManaged?null:'Only available for managed projects'],
                            buttonTooltipPosition: 'right',
                            buttonCaption: 'New heuristic',
                            buttonTooltip: 'Heuristics are noisy label signals'
                        }" (optionClicked)="executeOption($event)">
                        </kern-dropdown>
                    </ng-template>
                    <ng-template #noTasks>
                        <div data-tip="At least one labeling task is needed to create Heuristics"
                            class="tooltip tooltip-right">
                            <button type="button"
                                class="inline-flex items-center justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-1.5 bg-white text-xs font-medium text-gray-700 opacity-50 cursor-not-allowed focus:ring-offset-2 focus:ring-offset-gray-400"
                                id="menu-button" aria-expanded="true" aria-haspopup="true">
                                New heuristic
                                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </ng-template>

                    <ng-template [ngIf]="informationSources.length > 0" [ngIfElse]="noHeuristics">
                        <kern-dropdown class="mr-3" [dropdownOptions]="{
                            optionArray:['Select all','Deselect all', 'Run selected', 'Delete selected'],
                            optionIcons:['select-all','deselect-all', 'run', 'delete-selected'],
                            buttonTooltipPosition: 'right',
                            buttonTooltip:'Multi-heuristic action',
                            buttonCaption: 'Actions',
                            isOptionDisabled: [false, false, this.heuristicsModals.selectedInformationSources.length == 0, this.heuristicsModals.selectedInformationSources == 0],
                            optionTooltips: [null, null, 'Except Crowd', null]
                        }" (optionClicked)="executeOption($event)">
                        </kern-dropdown>
                    </ng-template>
                    <ng-template #noHeuristics>
                        <div data-tip="At least one heuristic is needed to enable actions"
                            class="tooltip tooltip-right mx-3">
                            <button type="button"
                                class="inline-flex items-center justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-1.5 bg-white text-xs font-semibold text-gray-700 opacity-50 cursor-not-allowed focus:ring-offset-2 focus:ring-offset-gray-400"
                                id="menu-button" aria-expanded="true" aria-haspopup="true">
                                Actions
                                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </ng-template>

                    <div class="flex justify-center overflow-visible">
                        <ng-template [ngIf]="areInformationSourcesSelected(informationSources,false)"
                            [ngIfElse]="nothingSelected">
                            <ng-template [ngIf]="areInformationSourcesSelected(informationSources,true)"
                                [ngIfElse]="noValidSelected">
                                <div data-tip="Calculation of denoised labels can take up to a few minutes!"
                                    class="tooltip tooltip-right">
                                    <button
                                        class="bg-indigo-700 text-white text-xs font-semibold px-4 py-2 rounded-md border hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                        (click)="startWeakSupervision(project.id)"
                                        [ngClass]="!heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun || heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun?.state == 'CREATED' ? 'opacity-50 cursor-not-allowed' : 'opacity-100 cursor-pointer'"
                                        [disabled]="!heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun || heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun?.state == 'CREATED'?true:null">
                                        Weak supervision
                                        <ng-template
                                            [ngIf]="heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun?.state == 'CREATED'">
                                            <kern-loading></kern-loading>
                                        </ng-template>
                                    </button>
                                </div>
                            </ng-template>

                            <ng-template #noValidSelected>
                                <div data-tip="At least one invalid heuristic selected!" class="tooltip tooltip-left">
                                    <button
                                        class="bg-indigo-700 text-white text-xs font-semibold px-4 py-2 rounded-md border opacity-50 cursor-not-allowed"
                                        [disabled]="true">
                                        Weak supervision
                                    </button>
                                </div>
                            </ng-template>
                        </ng-template>
                        <ng-template #nothingSelected>
                            <div data-tip="Please select at least one heuristic!" class="tooltip tooltip-right">
                                <button
                                    class="bg-indigo-700 text-white text-xs font-semibold px-4 py-2 rounded-md border opacity-50 cursor-not-allowed"
                                    [disabled]="true">
                                    Weak supervision
                                </button>
                            </div>
                        </ng-template>
                    </div>
                    <ng-template
                        [ngIf]="heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun && heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun?.state != 'NOT_YET_RUN' && heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun?.state != 'CREATED'"
                        [ngIfElse]="emptyInfo">
                        <div data-tip="Last weak supervision run information"
                            class="tooltip tooltip-left flex justify-center overflow-visible">
                            <label (click)="heuristicsModals.lastWeakSupervision.open = true"
                                class="bg-white text-gray-700 text-xs font-medium mx-3 px-4 py-1.5 rounded-md border border-gray-300 cursor-pointer inline-block hover:bg-gray-50">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-wave-sine"
                                    width="24" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M21 12h-2c-.894 0 -1.662 -.857 -1.761 -2c-.296 -3.45 -.749 -6 -2.749 -6s-2.5 3.582 -2.5 8s-.5 8 -2.5 8s-2.452 -2.547 -2.749 -6c-.1 -1.147 -.867 -2 -1.763 -2h-2">
                                    </path>
                                </svg>
                            </label>
                        </div>
                    </ng-template>
                    <ng-template #emptyInfo>
                        <div data-tip="Last weak supervision run information"
                            class="tooltip tooltip-left flex justify-center overflow-visible">
                            <label
                                class="bg-gray-50 text-gray-700 text-sm font-medium mx-3 px-4 py-1.5 rounded-md border border-gray-300 cursor-not-allowed">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-wave-sine opacity-50" width="24" height="20"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M21 12h-2c-.894 0 -1.662 -.857 -1.761 -2c-.296 -3.45 -.749 -6 -2.749 -6s-2.5 3.582 -2.5 8s-.5 8 -2.5 8s-2.452 -2.547 -2.749 -6c-.1 -1.147 -.867 -2 -1.763 -2h-2">
                                    </path>
                                </svg>
                            </label>
                        </div>
                    </ng-template>
                    <div class="flex justify-center overflow-visible">
                        <button [routerLink]="['../model-callbacks']" data-tip="Go to the model callbacks"
                            class="tooltip tooltip-left bg-white text-gray-700 text-xs font-medium mr-3 px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Model callbacks
                        </button>
                    </div>
                    <div class="flex justify-center overflow-visible">
                        <button [routerLink]="['../lookup-lists']" data-tip="Go to the lookup lists"
                            class="tooltip tooltip-left bg-white text-gray-700 text-xs font-medium mr-3 px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Lookup lists
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="informationSources.length == 0; else informationSourcesList">
                <div class="text-gray-500 font-normal mt-8">
                    <p class="text-xl leading-7">Seems like your project has no heuristic yet.</p>
                    <p class="text-base mt-3 leading-6">You can create one from the button New heuristic in the bar
                        above. Also, we got some quick-links from our <a href="https://docs.kern.ai/"
                            target="_blank"><span class="underline cursor-pointer">documentation</span></a>, if you want
                        to dive deeper.</p>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
                    <div>
                        <div class="text-gray-900 text-xl leading-7 font-semibold">What are heuristics?</div>
                        <div class="text-gray-500 text-base leading-6 font-normal mt-3">Think of the as noisy, imperfect
                            label signals. They can be labeling functions, active learning models or something else that
                            you can integrate. The general interface is that they have some record as input and produce
                            some label-related output (e.g. the label name for classification tasks).</div>
                        <div
                            class="text-green-800 hover:text-green-500 text-base leading-6 font-semibold mt-3 cursor-pointer">
                            <a href="https://docs.kern.ai/refinery/heuristics#labeling-functions" target="_blank">Read
                                about labeling functions</a>
                        </div>
                    </div>
                    <div>
                        <div class="text-gray-900 text-xl leading-7 font-semibold">How to use templates</div>
                        <div class="text-gray-500 text-base leading-6 font-normal mt-3">You don't need to re-invent the
                            wheel in some cases, as labeling functions often share some of their structure. We have a
                            public GitHub repository containing some template functions, so you can look into this.
                        </div>
                        <div
                            class="text-green-800 hover:text-green-500 text-base leading-6 font-semibold mt-3 cursor-pointer">
                            <a href="https://github.com/code-kern-ai/template-functions" target="_blank">See template
                                functions</a>
                        </div>
                    </div>
                    <div>
                        <div class="text-gray-900 text-xl leading-7 font-semibold">Applying active learning</div>
                        <div class="text-gray-500 text-base leading-6 font-normal mt-3">As you label data manually (and
                            build embeddings), you can make great use of active learning to build implicit heuristics.
                            They are straightforward to be implemented, as we autogenerate the coding for it. Still, you
                            can dive deeper into their mechanics in our docs.</div>
                        <div
                            class="text-green-800 hover:text-green-500 text-base leading-6 font-semibold mt-3 cursor-pointer">
                            <a href="https://docs.kern.ai/refinery/heuristics#active-learners" target="_blank">Read
                                about active learning</a>
                        </div>
                    </div>
                    <div>
                        <div class="text-gray-900 text-xl leading-7 font-semibold">Starting with zero-shot</div>
                        <div class="text-gray-500 text-base leading-6 font-normal mt-3">Zero-shot models are really
                            great heuristics, as they infer predictions from the label names (and some context). You
                            might want to use them for your project, but be aware that pulling them can require some
                            time, since they contain enormous amounts of parameters.</div>
                        <div
                            class="text-green-800 hover:text-green-500 text-base leading-6 font-semibold mt-3 cursor-pointer">
                            <a href="https://docs.kern.ai/refinery/heuristics#zero-shot-classifiers"
                                target="_blank">Read
                                about zero-shot</a>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #informationSourcesList>
                <div class="overflow-y-auto" style="max-height: 93%;">
                    <div class="mt-8"
                        [ngClass]="filteredSourcesList.length > 2 ? 'flex_container' : 'grid gap-6 grid-cols-3'">
                        <ng-template [ngIf]="filteredSourcesList.length == 0">
                            <span class="text-gray-500 text-base leading-6 font-normal mt-4">No heuristics for this
                                labeling task</span>
                        </ng-template>
                        <div *ngFor="let source of filteredSourcesList; let i = index">
                            <div class="relative flex space-x-3 items-center rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm hover:border-gray-400"
                                [ngStyle]="{'height': getHeightInPx(source.stats)}"
                                [ngClass]="filteredSourcesList.length > 2 ? 'item' : ''">
                                <div class="h-full flex flex-col gap-2 items-center">
                                    <label (click)="toggleInformationSource(project.id, source.id)"
                                        class="cursor-pointer flex justify-center">
                                        <input type="checkbox" class="cursor-pointer" [checked]='source.selected'>
                                    </label>
                                    <ng-container [ngSwitch]="source.informationSourceType">
                                        <ng-template ngSwitchDefault>
                                        </ng-template>
                                        <ng-template ngSwitchCase="LABELING_FUNCTION">
                                            <div class="tooltip tooltip-right" data-tip="Labeling function">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block"
                                                    viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                        d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </ng-template>

                                        <ng-template ngSwitchCase="ACTIVE_LEARNING">
                                            <div class="tooltip tooltip-right" data-tip="Active learning">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block"
                                                    viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                        d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </ng-template>

                                        <ng-template ngSwitchCase="ZERO_SHOT">
                                            <div class="tooltip tooltip-right" data-tip="Zero-shot">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block"
                                                    viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                        d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </ng-template>
                                        <ng-template ngSwitchCase="CROWD_LABELER">
                                            <div class="tooltip tooltip-right" data-tip="Crowd labeling">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block"
                                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <circle cx="9" cy="7" r="4"></circle>
                                                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                                                </svg>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </div>
                                <div class="flex-1 min-w-0 text-sm leading-5">
                                    <div class="flow-root font-medium">
                                        <div class="text-gray-900 float-left">
                                            {{source.name}}
                                        </div>
                                        <div class="text-green-800 float-right cursor-pointer"
                                            [routerLink]="[source.routerLink]"
                                            [queryParams]="{type: source.informationSourceType, status: source?.state}">
                                            Details
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block"
                                                fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M13 7l5 5m0 0l-5 5m5-5H6" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="flow-root font-normal">
                                        <div class="text-gray-500 float-left max-w-xs-1">
                                            {{source.description}}
                                        </div>
                                        <div class="float-right">
                                            <kern-statuses [status]="source?.state" tooltipPosition="tooltip-left">
                                            </kern-statuses>
                                        </div>
                                    </div>
                                    <ng-template [ngIf]="!(source.stats.length == 1 && source.stats[0].label == '-' )">
                                        <div class="flex items-center" *ngFor="let stat of source.stats">
                                            <div class="py-2">
                                                <span
                                                    [ngClass]="[getBackground(stat.color), getText(stat.color), getBorder(stat.color), getHover(stat.color)]"
                                                    class="inline-flex items-center px-2 py-0.5 rounded text-sm font-medium border">
                                                    {{stat.label}}
                                                </span>
                                            </div>
                                            <div class="py-4 ml-auto text-sm leading-5 font-medium text-gray-900">
                                                <div class="flex flex-row">
                                                    <div class="mr-4">
                                                        <div>Est. Precision</div>
                                                        <div class="font-normal text-gray-500">{{stat.values.Precision |
                                                            percentRound : '2'}}</div>
                                                    </div>
                                                    <div>
                                                        <div>Coverage</div>
                                                        <div class="font-normal text-gray-500">{{stat.values.Coverage}}
                                                            {{
                                                            stat.values.Coverage == 1 ? 'record' : 'records' }}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-container>
</div>

<kern-modal [isOpen]="heuristicsModals.deleteSelected.open" closeButton="X"
    [modalBoxStyle]="{'width':'30rem','text-align':'center'}" [abortButton]="{
    buttonCaption: 'Delete heuristic' + (heuristicsModals.selectedInformationSources.length == 1 ? 's':''),
    emitObject: this, emitFunction: deleteSelectedInformationSources
}" (optionClicked)="heuristicsModals.deleteSelected.open = false">
    <h1 class="text-lg text-gray-900 mb-2">Warning</h1>
    <div class="text-sm text-gray-500 my-2 flex flex-col">
        <span>Are you sure you want to delete selected {{ heuristicsModals.selectedInformationSources.length == 1
            ? 'heuristic' : 'heuristics' }}?</span>
        <span>Currently selected {{ heuristicsModals.selectedInformationSources.length == 1 ? 'is' : 'are'
            }}:</span>
        <span class="whitespace-pre-line font-bold">{{heuristicsModals.selectionList}}</span>
    </div>
</kern-modal>


<kern-modal [isOpen]="heuristicsModals.lastWeakSupervision.open" [modalBoxStyle]="{'overflow':'visible'}"
    closeButton="X" (optionClicked)="heuristicsModals.lastWeakSupervision.open = false;">
    <h1 class="text-lg text-gray-900 mb-2 text-center">Last Weak
        Supervision Run</h1>
    <div class=" flex flex-grow justify-center my-4"
        *ngIf="heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun">
        <div class="grid items-center" style="grid-template-columns: 215px auto">
            <div class="text-sm font-bold">State</div>
            <div class="text text-sm">
                <kern-statuses class="-ml-2"
                    [status]="heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun?.state">
                </kern-statuses>
            </div>
            <div class="text-sm font-bold">Selected Heuristics
            </div>
            <div class="text-sm text-gray-500">
                {{heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun?.selectedInformationSources}}
            </div>
            <div class="text-sm font-bold">Selected labeling tasks</div>
            <div class="text-sm text-gray-500">
                {{heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun.selectedLabelingTasks}}
            </div>
            <div class="text-sm font-bold">Distinct records</div>
            <div class="text-sm text-gray-500">
                {{heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun.distinctRecords}}</div>
            <div class="text-sm font-bold">Created labels</div>
            <div class="text-sm text-gray-500">
                {{heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun.resultCount}}</div>
            <div class="text-sm font-bold">Created by</div>
            <div class="text-sm text-gray-500">
                {{heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun.displayName}}
            </div>
            <div class="text-sm font-bold">Started at</div>
            <div class="text-sm text-gray-500">
                {{heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun.createdAtDisplay}}</div>
            <div class="text-sm font-bold">Finished at</div>
            <div class="text-sm text-gray-500">
                {{heuristicsModals.lastWeakSupervision.currentWeakSupervisionRun.finishedAtDisplay}}</div>
        </div>
    </div>
</kern-modal>

<kern-modal [isOpen]="heuristicsModals.createLabelingFunction.open" [modalBoxStyle]="{'min-width':'40rem'}"
    closeButton="X" [acceptButton]="{
    buttonCaption: 'Create',
    disabled: heuristicsModals.functionName == '',
    emitObject: this, emitFunction: createLabelingFunction
}" (optionClicked)="heuristicsModals.createLabelingFunction.open = false">
    <h1 class="text-lg text-gray-900 mb-2 text-center mb-4">Add new labeling function</h1>

    <div *ngIf="attributes && labelingTasksClassification" class="grid grid-cols-2 gap-2 items-center"
        style="grid-template-columns: max-content auto;">
        <div data-tip="Choose a labeling task" class="tooltip tooltip-right justify-self-start">
            <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Labeling
                    task</span></span>
        </div>

        <select class="select select-bordered select-sm" (change)="this.labelingTaskId = $event.target.value;">
            <option *ngFor="let labelingTask of labelingTasks" [value]="labelingTask.id">
                {{labelingTask.name }}
            </option>
        </select>
        <div data-tip="Enter a function name" class="tooltip tooltip-right justify-self-start">
            <span class="cursor-help card-title mb-0 label-text"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Function
                    name</span></span>
        </div>

        <input [(ngModel)]="heuristicsModals.functionName" placeholder="Enter a function name..."
            (input)="changeInformationSourceName($event)" class="input input-sm input-bordered placeholder-italic" />
        <div data-tip="Enter description" class="tooltip tooltip-right justify-self-start">

            <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Description</span></span>
        </div>
        <input [(ngModel)]="heuristicsModals.description" placeholder="Enter description..."
            class="input input-sm input-bordered placeholder-italic" />
    </div>
</kern-modal>

<kern-modal [isOpen]="heuristicsModals.createActiveLearning.open" [modalBoxStyle]="{'min-width':'40rem'}"
    closeButton="X" [acceptButton]="{
    buttonCaption: 'Create',
    disabled: heuristicsModals.functionName == '' || heuristicsModals.createActiveLearning.embedding == '',
    emitObject: this, emitFunction: createActiveLearning
}" (optionClicked)="heuristicsModals.createActiveLearning.open = false">
    <h1 class="text-lg text-gray-900 mb-2 text-center mb-4">Add new active learning</h1>

    <div *ngIf="attributes && labelingTasksClassification" class="grid grid-cols-2 gap-2 items-center"
        style="grid-template-columns: max-content auto;">
        <div class="tooltip tooltip-right justify-self-start" data-tip="Choose a labeling task">
            <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Labeling
                    task</span></span>
        </div>

        <select class="select select-bordered select-sm"
            (change)="this.labelingTaskId = $event.target.value; prepareEmbeddingsRequest(project.id)">
            <option *ngFor="let labelingTask of labelingTasks" [value]="labelingTask.id">
                {{labelingTask.name }}
            </option>
        </select>
        <div data-tip="Enter name" class="tooltip tooltip-right justify-self-start">

            <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Function
                    name</span></span>
        </div>
        <input [(ngModel)]="heuristicsModals.functionName" placeholder="Enter name..."
            (input)="changeInformationSourceName($event)" class="input input-sm input-bordered placeholder-italic" />
        <div data-tip="Enter description" class="tooltip tooltip-right justify-self-start">
            <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Description</span></span>
        </div>

        <input [(ngModel)]="heuristicsModals.description" placeholder="Enter description..."
            class="input input-sm input-bordered placeholder-italic" />
        <div data-tip="Choose an embedding" class="tooltip tooltip-right justify-self-start">
            <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Embedding</span></span>
        </div>


        <select class="select select-bordered select-sm"
            [disabled]="!embeddingsFiltered || embeddingsFiltered.length == 0"
            [ngClass]="!embeddingsFiltered || embeddingsFiltered.length == 0 ? 'border-disabled' : 'opacity-100 cursor-pointer' "
            (change)="heuristicsModals.createActiveLearning.embedding = $event.target.value;">
            <option *ngFor="let embedding of embeddingsFiltered;" [value]="embedding.name">
                {{embedding.name }}
            </option>
        </select>
    </div>
</kern-modal>

<kern-modal [isOpen]="heuristicsModals.createCrowdLabeling.open" [modalBoxStyle]="{'min-width':'40rem'}" closeButton="X"
    [acceptButton]="{
    buttonCaption: 'Create',
    disabled: heuristicsModals.functionName == '',
    emitObject: this, emitFunction: createCrowdLabelerInformationSource
}" (optionClicked)="heuristicsModals.createCrowdLabeling.open = false">
    <h1 class="text-lg text-gray-900 mb-2 text-center mb-4">Add new crowd labeler</h1>

    <div *ngIf="labelingTasksClassification" class="grid grid-cols-2 gap-2 items-center"
        style="grid-template-columns: max-content auto;">
        <div data-tip="Choose a labeling task" class="tooltip tooltip-right justify-self-start">

            <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Labeling
                    task</span></span>
        </div>
        <select class="select select-bordered select-sm" (change)="this.labelingTaskId = $event.target.value;">
            <option *ngFor="let labelingTask of labelingTasks" [value]="labelingTask.id">
                {{labelingTask.name }}
            </option>
        </select>
        <div class="tooltip tooltip-right justify-self-start" data-tip="Enter a name">

            <span class="cursor-help card-title mb-0 label-text"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Heuristic
                    name</span></span>
        </div>
        <input [(ngModel)]="heuristicsModals.functionName" placeholder="Enter a name..."
            class="input input-sm input-bordered placeholder-italic" />
        <div data-tip="Enter description" class="tooltip tooltip-right justify-self-start">
            <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Description</span></span>
        </div>

        <input [(ngModel)]="heuristicsModals.description" placeholder="Enter description..."
            class="input input-sm input-bordered placeholder-italic" />
    </div>
</kern-modal>

<ng-template [ngIf]="labelingTasksClassification && labelingTasksClassification.length > 0">
    <kern-modal [isOpen]="heuristicsModals.createZeroShot.open"
        [modalBoxStyle]="{'min-width': '40rem', 'overflow-x': 'visible'}" closeButton="X" [acceptButton]="{
    buttonCaption: 'Create',
    disabled: heuristicsModals.createZeroShot.value == '' || heuristicsModals.createZeroShot.value == null,
    emitObject: this, emitFunction: createZeroShotInformationSource
    }" (optionClicked)="heuristicsModals.createZeroShot.open = false">
        <h1 class="text-lg text-gray-900 mb-2 text-center mb-4">Add new zero shot classification</h1>

        <div *ngIf="attributes && labelingTasksClassification" class="grid grid-cols-2 gap-2 items-center"
            style="grid-template-columns: max-content auto;">

            <div class="tooltip tooltip-right justify-self-start" data-tip="Choose a labeling task">

                <span class="cursor-help card-title mb-0 label-text"><span class="underline"
                        style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Target
                        task</span></span>
            </div>
            <select #labelingTasksSelect class="select select-bordered select-sm"
                (change)="this.heuristicsModals.createZeroShot.hideZeroShotAttribute = this.labelingTasksClassification[labelingTasksSelect.selectedIndex].taskTarget == 'ON_ATTRIBUTE'">
                <option *ngFor="let task of labelingTasksClassification" [value]="task.id">
                    {{task.taskTarget == 'ON_WHOLE_RECORD' ? ('Full Record - ' + task.name):
                    task.name }}
                </option>
            </select>

            <div class="contents" [ngClass]="heuristicsModals.createZeroShot.hideZeroShotAttribute?'hidden':null">
                <div data-tip="Choose an input attribute for inference"
                    class="tooltip tooltip-right justify-self-start">
                    <span class="cursor-help card-title mb-0 label-text text-left"><span class="underline"
                            style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Attribute</span></span>
                </div>

                <select #attributesSelect class="select select-bordered select-sm">
                    <option *ngFor="let attribute of attributes" [value]="attribute.id">
                        {{attribute.name }}
                    </option>
                </select>
            </div>
            <div data-tip="Choose a model from Hugging Face" class="tooltip tooltip-right justify-self-start"><span
                    class="card-title mb-0 label-text text-left"><span class="cursor-help underline"
                        style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Handle</span></span>

            </div>

            <div class="dropdown"
                *ngIf="heuristicsModals.createZeroShot.zeroShotRecommendations?.length;else noSuggestions">
                <div tabindex="1" class="flex flex-row select select-bordered select-sm pl-0 pr-8">
                    <input #inputConfig type="text" placeholder="Type to search..."
                        [value]="heuristicsModals.createZeroShot.value" class="w-full font-bold input input-sm"
                        style="outline:none; box-shadow:none;height:1.8rem;" (focus)="$event.target.select()"
                        (keydown.enter)="selectFirstUnhiddenRecommendation(inputConfig)"
                        (input)="checkRecommendation($event.target)">
                </div>
                <ul tabindex="1" class="p-2 w-full menu dropdown-content bg-base-100 shadow max-h-80 overflow-y-auto">
                    <li #me class="flex flex-row items-center justify-between"
                        *ngFor="let recommendation of heuristicsModals.createZeroShot.zeroShotRecommendations; let k = index"
                        [ngClass]="recommendation.hidden?'hidden':null"
                        (mouseenter)="setCurrentRecommendation(recommendation,hoverBox,me)"
                        (mouseleave)="setCurrentRecommendation(null)">
                        <label class="cursor-pointer label flex-grow"
                            [ngClass]="checkIfModelIsDownloaded(recommendation.configString) ? 'text-green-700' : ''"
                            (click)="selectRecommendation(recommendation,inputConfig)">
                            {{recommendation.configString}}
                        </label>
                        <a [href]="recommendation.link" target="_blank" class="h4 w-4 mr-2" style="padding:0px"><svg
                                xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                            </svg></a>
                    </li>
                </ul>
            </div>
            <ng-template #noSuggestions>
                <div class="flex flex-row select select-bordered select-sm pl-0 pr-8">
                    <input #inputConfig type="text" placeholder="Enter config string..."
                        class="w-full font-bold input input-sm" style="outline:none; box-shadow:none;height:1.8rem;"
                        (focus)="$event.target.select()" (input)="checkRecommendation($event.target)">
                </div>
            </ng-template>
        </div>
    </kern-modal>
</ng-template>

<div #hoverBox class="absolute top-0 w-fit h-fit card shadow bg-white" style="z-index: 1000;"
    [ngClass]="heuristicsModals.createZeroShot.currentRecommendation?null:'hidden'">
    <ng-template [ngIf]="heuristicsModals.createZeroShot.currentRecommendation">
        <div class="card-body p-6 flex flex-col w-64">
            <div class="flex justify-center">
                <span class="card-title mb-2 label-text">Info</span>
            </div>
            <div class="grid grid-cols-2  gap-2 items-center" style="grid-template-columns: max-content auto;">
                <span class="label-text text-sm font-bold">Avg Time</span>
                <span
                    class="label-text text-sm">{{heuristicsModals.createZeroShot.currentRecommendation.avgTime}}</span>
                <span class="label-text text-sm font-bold">Based on</span>
                <span class="label-text text-sm">{{heuristicsModals.createZeroShot.currentRecommendation.base}}</span>
                <span class="label-text text-sm font-bold">Size</span>
                <span class="label-text text-sm">{{heuristicsModals.createZeroShot.currentRecommendation.size}}</span>
            </div>
        </div>
    </ng-template>
</div>