<div *ngIf="user$ | async as user" class="h-screen flex bg-gray-50 overflow-visible">
    <div class="flex overflow-visible">
        <div class="flex flex-col w-20 overflow-visible">
            <div class="flex-1 flex flex-col min-h-0 overflow-y-auto bg-kernindigo overflow-initial">
                <div class="flex-1 flex flex-col">
                    <div class="flex-shrink-0 bg-kernindigo pt-4 pb-10 flex items-center justify-center">
                        <a [routerLink]="['/projects']"
                            class="inline-flex items-center p-2 rounded-full hover:bg-kernindigo-dark focus:outline-none">
                            <img class="h-10 w-10 " src="assets/platform/refinery-icon.png">
                        </a>
                    </div>
                    <div>
                        <div *ngIf="project$ | async as project">
                            <div *ngIf="project.id !== null">
                                <div *ngIf="user?.role == 'ENGINEER'"
                                    class="flex items-center justify-center overflow-visible">
                                    <div data-tip="Overview" class="tooltip tooltip-right relative z-50"
                                        [ngClass]="project.numDataScaleUploaded == 0 ? 'opacity-50 cursor-not-allowed pointer-events-none' : 'opacity-100 cursor-pointer'">
                                        <a [routerLink]="['./overview']" rel="noopener noreferrer"
                                            class="circle text-white"
                                            [ngClass]="routeColor.overview.active ? 'text-kernPurple': 'text-white'">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z" />
                                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div *ngIf="user?.role == 'ENGINEER'"
                                    class="flex items-center justify-center overflow-visible mt-10 2xl:mt-12">
                                    <div data-tip="Data Browser" class="tooltip tooltip-right relative z-50"
                                        [ngClass]="project.numDataScaleUploaded == 0 ? 'opacity-50 cursor-not-allowed pointer-events-none' : 'opacity-100 cursor-pointer'">
                                        <a [routerLink]="['./data']" rel="noopener noreferrer" class="circle text-white"
                                            [ngClass]="routeColor.data.active ? 'text-kernPurple': 'text-white'">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-icons" width="24" height="24"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <circle cx="6.5" cy="6.5" r="3.5"></circle>
                                                <path d="M2.5 21h8l-4 -7z"></path>
                                                <path d="M14 3l7 7"></path>
                                                <path d="M14 10l7 -7"></path>
                                                <path d="M14 14h7v7h-7z"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="flex items-center justify-center overflow-visible"
                                    [ngClass]="user?.role == 'ENGINEER'?'mt-10 2xl:mt-12':''">
                                    <div data-tip="Labeling" class="tooltip tooltip-right relative z-50"
                                        [ngClass]="project.numDataScaleUploaded == 0 ? 'opacity-50 cursor-not-allowed pointer-events-none' : 'opacity-100 cursor-pointer'">
                                        <a [routerLink]="['./labeling']" rel="noopener noreferrer"
                                            class="circle text-white"
                                            [ngClass]="routeColor.labeling.active ? 'text-kernPurple': 'text-white'">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div *ngIf="user?.role == 'ENGINEER'"
                                    class="flex items-center justify-center overflow-visible mt-10 2xl:mt-12">
                                    <div data-tip="Heuristics" class="tooltip tooltip-right relative z-50"
                                        [ngClass]="project.numDataScaleUploaded == 0 ? 'opacity-50 cursor-not-allowed pointer-events-none' : 'opacity-100 cursor-pointer'">
                                        <a [routerLink]="['./heuristics']" rel="noopener noreferrer"
                                            class="circle text-white"
                                            [ngClass]="routeColor.heuristics.active ? 'text-kernPurple': 'text-white'">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path
                                                    d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div *ngIf="user?.role == 'ENGINEER'"
                                    class="flex items-center justify-center overflow-visible mt-10 2xl:mt-12">
                                    <div data-tip="Settings" class="tooltip tooltip-right relative z-50">
                                        <a [routerLink]="['./settings']" rel="noopener noreferrer"
                                            class="circle text-white"
                                            [ngClass]="routeColor.settings.active ? 'text-kernPurple': 'text-white'">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div *ngIf="isAdmin"
                                    class="flex items-center justify-center overflow-visible mt-10 2xl:mt-12">
                                    <div data-tip="Admin" class="tooltip tooltip-right relative z-50">
                                        <a [routerLink]="['./admin']" rel="noopener noreferrer"
                                            class="circle text-white"
                                            [ngClass]="routeColor.admin.active ? 'text-kernPurple': 'text-white'">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-user-circle" width="20" height="20"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <circle cx="12" cy="12" r="9"></circle>
                                                <circle cx="12" cy="10" r="3"></circle>
                                                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855">
                                                </path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div *ngIf="user?.role == 'ENGINEER'"
                                    class="flex items-center justify-center overflow-visible my-6 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20px" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        preserveAspectRatio="none">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="user?.role == 'ENGINEER'">
                            <div *ngIf="!isManaged" class="flex items-center justify-center overflow-visible"
                                [ngClass]="project?.id !== null ? 'mt-6' : ''">
                                <div data-tip="Documentation" class="tooltip tooltip-right relative z-50">
                                    <a href="https://docs.kern.ai/" target="_blank" rel="noopener noreferrer"
                                        class="circle text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path
                                                d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>

                            <div class="flex items-center justify-center overflow-visible"
                                [ngClass]="isManaged?(project?.id !== null ? 'mt-6' : ''):'mt-10 2xl:mt-12'">
                                <div data-tip="API" class="tooltip tooltip-right relative z-50">
                                    <a href="https://github.com/code-kern-ai/kern-python" target="_blank"
                                        rel="noopener noreferrer" class="circle text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="text-white icon icon-tabler icon-tabler-api" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 13h5"></path>
                                            <path d="M12 16v-8h3a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-3"></path>
                                            <path d="M20 8v8"></path>
                                            <path d="M9 16v-5.5a2.5 2.5 0 0 0 -5 0v5.5"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div *ngIf="user?.role == 'ENGINEER' && !isManaged"
                        class="flex items-center justify-center overflow-visible mt-10 2xl:mt-12">
                        <div data-tip="Join our community" class="tooltip tooltip-right relative z-50">
                            <a href="https://discord.com/invite/qf4rGCEphW" target="_blank" rel="noopener noreferrer"
                                class="circle text-white">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-brand-discord" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="9" cy="12" r="1"></circle>
                                    <circle cx="15" cy="12" r="1"></circle>
                                    <path d="M7.5 7.5c3.5 -1 5.5 -1 9 0"></path>
                                    <path d="M7 16.5c3.5 1 6.5 1 10 0"></path>
                                    <path
                                        d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-1 2.5">
                                    </path>
                                    <path
                                        d="M8.5 17c0 1 -1.356 3 -1.832 3c-1.429 0 -2.698 -1.667 -3.333 -3c-.635 -1.667 -.476 -5.833 1.428 -11.5c1.388 -1.015 2.782 -1.34 4.237 -1.5l1 2.5">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isFullscreen" class="flex items-center justify-center mt-10 2xl:mt-12">
                    <button data-tip="Maximize screen" (click)="openFullscreen()"
                        class="z-50 tooltip tooltip-right cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-white icon icon-tabler icon-tabler-maximize"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 8v-2a2 2 0 0 1 2 -2h2"></path>
                            <path d="M4 16v2a2 2 0 0 0 2 2h2"></path>
                            <path d="M16 4h2a2 2 0 0 1 2 2v2"></path>
                            <path d="M16 20h2a2 2 0 0 0 2 -2v-2"></path>
                        </svg>
                    </button>
                </div>
                <div *ngIf="isFullscreen" class="flex items-center justify-center mt-10 2xl:mt-12">
                    <button data-tip="Minimize screen" (click)="closeFullscreen()"
                        class="z-50 tooltip tooltip-right cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-white icon icon-tabler icon-tabler-minimize"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15 19v-2a2 2 0 0 1 2 -2h2"></path>
                            <path d="M15 5v2a2 2 0 0 0 2 2h2"></path>
                            <path d="M5 15h2a2 2 0 0 1 2 2v2"></path>
                            <path d="M5 9h2a2 2 0 0 0 2 -2v-2"></path>
                        </svg>
                    </button>
                </div>
                <div *ngIf="isManaged" class="flex items-center justify-center mt-4">
                    <div (click)="navHidden=!navHidden" data-tip="Kern AI"
                        class="cursor-pointer group flex items-center p-2 text-sm font-medium rounded-md border kern-platform-button tooltip tooltip-right">
                        <img class="h-10 w-10" src="assets/platform/kern-icon.png">

                    </div>

                </div>
                <div class="flex-shrink-0 flex pt-3 pb-6 justify-center">
                    <label data-tip="Version overview"
                        (click)="requestVersionOverview(); sideBarPmModals.versionOverview.open = true;"
                        class="z-50 tooltip tooltip-right cursor-pointer select-none text-white flex items-center"
                        id="refineryVersion">v1.8.0
                        <svg *ngIf="hasUpdates" xmlns="http://www.w3.org/2000/svg" data-tip="Newer version available"
                            class="icon icon-tabler icon-tabler-alert-circle inline-block text-yellow-700 tooltip tooltip-right align-top ml-1"
                            width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <line x1="12" y1="8" x2="12" y2="12"></line>
                            <line x1="12" y1="16" x2="12.01" y2="16"></line>
                        </svg>
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="fixed left-20 font-dmMono rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 py-2"
        style="bottom:60px;z-index:100" id="KernNav" [ngClass]="navHidden?'hidden':null">
        <a class="flex flex-col px-4 py-2 hover:bg-gray-100" target="_blank" href="/welcome" rel="noopener noreferrer">
            <div class="flex flex-row flex-nowrap">
                <img class="h-6 w-6 tooltip tooltip-right" data-tip="Kern AI" src="assets/platform/kern-icon.png">
                <span class="ml-2">cockpit</span>
            </div>
        </a>
        <a class="flex flex-col px-4 py-2 hover:bg-gray-100" target="_blank" href="/gates" rel="noopener noreferrer">
            <div class="flex flex-row flex-nowrap">
                <img class="h-6 w-6 tooltip tooltip-right" data-tip="Kern AI" src="assets/platform/gates-icon.png">
                <span class="ml-2">gates</span>
            </div>
        </a>
        <a class="flex flex-col px-4 py-2 hover:bg-gray-100" target="_blank" href="/workflow/workflows"
            rel="noopener noreferrer">
            <div class="flex flex-row flex-nowrap">
                <img class="h-6 w-6 tooltip tooltip-right" data-tip="Kern AI" src="assets/platform/workflow-icon.png">
                <span class="ml-2">workflow</span>
            </div>
        </a>
    </div>
</div>

<kern-modal [isOpen]="sideBarPmModals.versionOverview.open" closeButton="X"
    [modalBoxStyle]="{'text-align':'center','width':'45rem'}" [acceptButton]="{
    buttonCaption: 'How to update',
    useButton: !isManaged,
    emitObject: this, emitFunction: howToUpdate 
}" (optionClicked)="sideBarPmModals.versionOverview.open = false;">
    <div class="inline-block justify-center text-lg leading-6 text-gray-900 font-medium">
        Version overview

        <a class="text-green-800 text-base font-medium ml-3" href="https://www.kern.ai/changelog" target="_blank">
            <span class="leading-5">Changelog</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg>
        </a>
    </div>

    <div class="inline-block min-w-full align-middle mt-3"
        *ngIf="sideBarPmModals.versionOverview.data; else dataLoading">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg scrollable-size">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col"
                            class="px-3 py-2 text-left text-xs font-medium uppercase tracking-wide text-gray-500">
                            Service</th>
                        <th scope="col"
                            class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                            Installed version</th>
                        <th scope="col"
                            class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                            Remote version</th>
                        <th scope="col"
                            class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                            Last checked</th>
                        <th scope="col"
                            class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                            Link</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <tr *ngFor="let service of sideBarPmModals.versionOverview.data; let i = index"
                        [ngClass]="i%2!=0 ? 'bg-gray-50':'bg-white'">
                        <td class="text-left px-3 py-2 text-sm text-gray-500">
                            {{service.service}}
                        </td>
                        <td class="text-center px-3 py-2 text-sm text-gray-500">
                            {{service.installedVersion}}
                        </td>
                        <td class="text-center px-3 py-2 text-sm text-gray-500">
                            <div class="flex flex-row items-center justify-center">
                                <div class="mr-2">{{service.remoteVersion}}</div>
                                <div *ngIf="service.remoteHasNewer" class="tooltip tooltip-right"
                                    data-tip="Newer version available">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-alert-circle inline-block text-yellow-700 align-top"
                                        width="20" height="20" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="9"></circle>
                                        <line x1="12" y1="8" x2="12" y2="12"></line>
                                        <line x1="12" y1="16" x2="12.01" y2="16"></line>
                                    </svg>
                                </div>
                            </div>
                        </td>
                        <td class="text-center px-3 py-2 text-sm text-gray-500">
                            {{service.parseDate}}
                        </td>
                        <td class="text-center px-3 py-2 text-sm text-gray-500">
                            <a [href]="service.link" target="_blank" class="h4 w-4 m-auto block"
                                style="padding:0px"><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 m-auto"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                </svg></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ng-template #dataLoading>
        <kern-loading *ngIf="versionOverview == null" color="yellow" class="mt-3"></kern-loading>
    </ng-template>

</kern-modal>

<kern-modal [isOpen]="sideBarPmModals.steps.open" closeButton="X" [modalBoxStyle]="{'width':'45rem'}" [backButton]="{
    buttonCaption: 'Back',
    emitObject: this, emitFunction: back
}" (optionClicked)="sideBarPmModals.steps.open = false">
    <div class="text-center justify-center text-lg leading-6 text-gray-900 font-medium">
        How to update
    </div>

    <div class="flex border-b-2 border-b-gray-200 max-w-full text-center overflow-visible">
        <div (click)="toggleTabs(0)"
            [ngClass]="sideBarPmModals.steps.openTab == 0 ? 'text-indigo-700 border-bottom' : 'text-gray-500' "
            class="text-sm leading-5 font-medium mr-10 cursor-help py-3">
            <span class="tooltip tooltip-bottom tooltip-margin border-dotted" data-tip="Linux/Mac">Bash users</span>
        </div>
        <div (click)="toggleTabs(1)"
            [ngClass]="sideBarPmModals.steps.openTab == 1 ? 'text-indigo-700 border-bottom' : 'text-gray-500' "
            class="text-sm leading-5 font-medium mr-10 cursor-help py-3">
            <span class="tooltip tooltip-bottom border-dotted" data-tip="Installed refinery with pip">CLI
                users</span>
        </div>
        <div (click)="toggleTabs(2)"
            [ngClass]="sideBarPmModals.steps.openTab == 2 ? 'text-indigo-700 border-bottom' : 'text-gray-500' "
            class="text-sm leading-5 font-medium mr-10 cursor-help py-3">
            <span class="tooltip tooltip-bottom border-dotted" data-tip="Windows terminal">cmd</span>
        </div>
        <div (click)="toggleTabs(3)"
            [ngClass]="sideBarPmModals.steps.openTab == 3 ? 'text-indigo-700 border-bottom' : 'text-gray-500' "
            class="text-sm leading-5 font-medium mr-10 cursor-help py-3">
            <span class="tooltip tooltip-bottom border-dotted" data-tip="Windows from File Explorer">Executing from
                explorer</span>
        </div>
    </div>

    <div class="mt-3 px-5 h-40">
        <ng-container [ngSwitch]="this.sideBarPmModals.steps.openTab">
            <ng-template [ngSwitchCase]="0">
                <ol class="font-dmMono">
                    <li>Open a Terminal</li>
                    <li>Change to refinery directory (using cd) -
                        <span class="bg-gray-200 text-red-700 rounded-md p-1 whitespace-nowrap">$ cd
                            /path/to/refinery</span>
                    </li>
                    <li>Run the update script -
                        <span class="bg-gray-200 text-red-700 rounded-md p-1 whitespace-nowrap">$
                            <span class="cursor-pointer tooltip tooltip-top" data-tip="Click to copy"
                                (click)="copyToClipboard('./update')">./update</span>
                        </span>
                    </li>
                </ol>
            </ng-template>
            <ng-template [ngSwitchCase]="1">
                <ol class="font-dmMono">
                    <li>Open a Terminal</li>
                    <li>Change to refinery directory
                        <ol class="list-letters px-8">
                            <li>Linux/Mac -
                                <span class="bg-gray-200 text-red-700 rounded-md p-1 whitespace-nowrap">$ cd
                                    path/to/refinery</span>
                            </li>
                            <li>Windows -
                                <span class="bg-gray-200 text-red-700 rounded-md p-1 whitespace-nowrap">cd
                                    path\to\refinery</span>
                            </li>
                        </ol>
                    </li>
                    <li>
                        Run the CLI update command
                        <span class="bg-gray-200 text-red-700 rounded-md p-1 whitespace-nowrap">$
                            <span class="cursor-pointer tooltip tooltip-top" data-tip="Click to copy"
                                (click)="copyToClipboard('refinery update')">refinery update</span>
                        </span>
                    </li>
                </ol>
            </ng-template>
            <ng-template [ngSwitchCase]="2">
                <ol class="font-dmMono">
                    <li>Open a Terminal</li>
                    <li>Change to refinery directory
                        <span class="bg-gray-200 text-red-700 rounded-md p-1 whitespace-nowrap">cd
                            path\to\refinery</span>
                    </li>
                    <li>Run the update script -
                        <span class="bg-gray-200 text-red-700 rounded-md p-1 whitespace-nowrap">
                            <span class="cursor-pointer tooltip tooltip-top" data-tip="Click to copy"
                                (click)="copyToClipboard('update.bat')">update.bat</span>
                        </span>
                    </li>
                </ol>
            </ng-template>
            <ng-template [ngSwitchCase]="3">
                <ol class="font-dmMono">
                    <li>Open the File Explorer</li>
                    <li>Navigate to the refinery directory</li>
                    <li>Launch the update script by double-clicking
                        <span class="bg-gray-200 text-red-700 rounded-md p-1 whitespace-nowrap">
                            <span class="cursor-pointer tooltip tooltip-top" data-tip="Click to copy"
                                (click)="copyToClipboard('update.bat')">update.bat</span>
                        </span>
                    </li>
                </ol>
            </ng-template>
        </ng-container>
    </div>
</kern-modal>