<div *ngFor="let attribute of recordCardOptions.attributesSortOrder; let k = index">
    <div class="font-semibold text-sm text-gray-800">
        <div class="flex flex-row items-center">
            <span class="font-dmMono">{{attributes[attribute.key]?.name}}</span>
        </div>
    </div>
    <div *ngIf="attributes[attribute.key]" class="text-gray-800 text-sm mb-4 overflow-anywhere flex">
        <ng-template [ngIf]="recordCardOptions.dataBrowserModals.configuration.highlightText && recordCardOptions.isTextHighlightNeeded &&
            recordCardOptions.isTextHighlightNeeded[attribute.key] &&
            record.data[attributes[attribute.key].name]" [ngIfElse]="noHighlight">
            <kern-highlight [text]="record.data[attributes[attribute.key].name].toString()"
                [searchForExtended]="recordCardOptions.textHighlightArrayKern[attribute.key]"></kern-highlight>
        </ng-template>
        <ng-template #noHighlight>
            <span
                *ngIf="record.data[attributes[attribute.key].name] != null && record.data[attributes[attribute.key].name] !== ''; else notPresent">
                {{record.data[attributes[attribute.key].name]}}
            </span>
            <ng-template #notPresent>
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-alert-circle text-yellow-700 inline-block" width="20"
                    height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="12" y1="8" x2="12" y2="12"></line>
                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
                <span class="text-gray-500 text-sm font-normal italic">Not present in the
                    record</span>
            </ng-template>
        </ng-template>
    </div>
</div>