<div class="mt-8">
    <div class="text-lg leading-6 text-gray-900 font-medium inline-block">
        Labeling tasks
    </div>
    <div class="mt-1">
        <div class="text-sm leading-5 font-medium text-gray-700 inline-block">Define what kind of things you
            want to
            label. We currently support classifications and extractions.</div>
        <div class="">
            <div class="inline-block min-w-full align-middle">
                <form [formGroup]="labelingTasksSchema"
                    class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table formArrayName="labelingTasks" class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Target</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500 w-60">
                                    Name</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Task Type</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Labels</th>
                                <th scope="col"
                                    class="px-3 py-2 text-center text-xs font-medium uppercase tracking-wide text-gray-500">
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <tr *ngFor="let labelingTaskContainer of labelingTasksArray.controls; let j = index"
                                [ngClass]="j%2!=0 ? 'bg-gray-50':'bg-white'" [formGroupName]="j">
                                <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                    {{labelingTaskContainer.get("targetName").value}}
                                </td>
                                <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                    <p class="break-words cursor-pointer"
                                        [ngClass]="labelingTaskContainer.get('nameOpen').value?'hidden':null"
                                        (click)="openTaskName(labelingTaskContainer)">
                                        {{labelingTaskContainer.get("name").value}}</p>
                                    <ng-template [ngIf]="labelingTaskContainer.get('nameOpen').value">
                                        <input #inputTaskName name="labelName" type="text" placeholder="Task Name"
                                            [value]="labelingTaskContainer.get('name').value"
                                            class="w-52 input input-outline input-bordered input-sm"
                                            (keyup)="checkTaskNameColor($event.target)"
                                            (keydown.enter)="changeTaskName(labelingTaskContainer,inputTaskName.value)"
                                            (blur)="changeTaskName(labelingTaskContainer,inputTaskName.value)">
                                    </ng-template>
                                </td>
                                <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                    <select formControlName="taskType"
                                        class="select select-sm select-bordered pr-8 max-w-xs">
                                        <option *ngFor="let dropdown of labelingTasksDropdownArray"
                                            [disabled]="dropdown.value == 'INFORMATION_EXTRACTION' && labelingTaskContainer.get('targetName').value == 'Full Record'"
                                            [value]="dropdown.value">{{
                                            dropdown.name }}
                                        </option>
                                    </select>
                                </td>
                                <td class="flex flex-wrap justify-center items-center px-3 py-2 text-sm text-gray-500">
                                    <div *ngFor="let label of lh.labelMap.get(labelingTaskContainer.get('id').value)">
                                        <div class="inline-flex border items-center mx-1.5 px-1.5 py-0.5 rounded-md text-sm font-medium"
                                            [ngClass]="[label.color.backgroundColor, label.color.textColor, label.color.borderColor, label.color.hoverColor]">
                                            <label for="label-color"
                                                (click)="lh.setCurrentLabel(label,labelingTaskContainer.get('id').value)"
                                                class="modal-button cursor-pointer inline-block">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="mr-2 icon icon-tabler icon-tabler-color-picker" width="20"
                                                    height="20" viewBox="0 0 24 24" stroke-width="2"
                                                    stroke="currentColor" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none">
                                                    </path>
                                                    <path d="M11 7l6 6"></path>
                                                    <path
                                                        d="M4 16l11.7 -11.7a1 1 0 0 1 1.4 0l2.6 2.6a1 1 0 0 1 0 1.4l-11.7 11.7h-4v-4z">
                                                    </path>
                                                </svg>
                                            </label>

                                            <span>{{label.name}}</span>
                                            <kbd *ngIf="label.hotkey"
                                                class="ml-2 uppercase inline-flex items-center border bg-white border-gray-200 rounded px-2 text-sm font-sans font-medium text-gray-400">{{label.hotkey}}</kbd>
                                            <label
                                                (click)="settingModals.label.delete = {open: true, label: label, taskId: labelingTaskContainer.get('id').value}"
                                                class="modal-button cursor-pointer inline-block ml-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </label>
                                        </div>
                                    </div>
                                    <label class="ml-2"
                                        [ngClass]="labelingTaskContainer.get('taskType').value == LabelingTaskType.NOT_SET ? 'opacity-50 cursor-not-allowed' : 'opacity-100 cursor-pointer'"
                                        (click)="settingModals.label.create = {open: true, taskId: labelingTaskContainer.get('id').value};addLabelModal()">
                                        <span
                                            class="bg-gray-100 text-gray-800 cursor-pointer modal-button btn btn-sm btn-ghost px-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                            </svg>
                                        </span>
                                    </label>
                                </td>
                                <td class="whitespace-nowrap text-center px-3 py-2 text-sm text-gray-500">
                                    <label
                                        (click)="settingModals.labelingTask.delete = {open: true, taskId: labelingTaskContainer.get('id').value}"
                                        class="modal-button btn btn-sm btn-ghost px-0">

                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-700" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="mt-1">
    <div class="tooltip tooltip-right" data-tip="Currently supporting classifications and extractions">
        <label (click)="addLabelingTaskModal()"
            class="inline-block items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-semibold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-5 w-5 inline-block stroke-current" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            Add labeling task
        </label>
    </div>
</div>

<kern-modal [isOpen]="settingModals.label.delete.open" closeButton="X"
    [modalBoxStyle]="{'width':'30rem', 'text-align':'center'}" [abortButton]="{
    buttonCaption: 'Delete label',
    emitObject: this, emitFunction: removeLabel
}" closeButton="X" (optionClicked)="settingModals.label.delete.open = false;">
    <div class="flex flex-grow justify-center text-lg leading-6 text-gray-900 font-medium">
        Warning </div>
    <p class="mt-2 text-gray-500 text-sm text-center">Are
        you
        sure
        you want to delete this label?</p>
    <p class="text-gray-500 text-sm text-center">This will
        delete
        all data associated with it!</p>
</kern-modal>

<kern-modal [isOpen]="settingModals.label.create.open" closeButton="X" [modalBoxStyle]="{'width':'30rem'}"
    [acceptButton]="{
    buttonCaption: 'Add label',
    disabled: !settingModals.label.create.isDuplicateName || labelName.value == '',
    emitObject: this, emitFunction: addLabel
}" (optionClicked)="settingModals.label.create.open = false">
    <div class="flex flex-grow justify-center text-lg leading-6 text-gray-900 font-medium">
        Enter your labels </div>
    <div class="mb-2 flex flex-grow justify-center text-sm text-gray-500">
        You can add press enter to add a label</div>
    <input #labelName id="labelName" name="labelName" type="text" placeholder="Label Name"
        class="w-full input input-sm input-bordered" (input)="checkAndModifyLabelName($event.target)"
        (keydown.enter)="addLabel()" autocomplete="off">
</kern-modal>

<kern-modal [isOpen]="settingModals.labelingTask.delete.open" closeButton="X"
    [modalBoxStyle]="{'width':'30rem', 'text-align':'center'}" [abortButton]="{
    buttonCaption: 'Delete labeling task',
    emitObject: this, emitFunction: deleteLabelingTask
}" (optionClicked)="settingModals.labelingTask.delete.open = false">
    <div class="flex flex-grow justify-center text-lg leading-6 text-gray-900 font-medium">
        Warning </div>
    <p class="mt-2 text-gray-500 text-sm">Are you sure you want to
        delete
        this labeling task?</p>
    <p class="text-gray-500 text-sm">This will delete all data
        associated
        with it,</p>
    <p class="text-gray-500 text-sm">including heuristics and
        labels!</p>
</kern-modal>

<kern-modal [isOpen]="settingModals.labelingTask.create.open" closeButton="X" [acceptButton]="{
    buttonCaption: 'Add labeling task',
    disabled: settingModals.labelingTask.create.name == '' || settingModals.labelingTask.create.name == null || !isTaskNameUniqueCheck(settingModals.labelingTask.create.name),
    emitObject: this, emitFunction: addLabelingTask
}" (optionClicked)="settingModals.labelingTask.create.open = false">

    <div class="flex flex-grow justify-center text-lg leading-6 text-gray-900 font-medium">
        Add a labeling task </div>
    <div class="mb-2 flex flex-grow justify-center text-sm text-gray-500">
        Afterward, you can select the label task type depending on the target type</div>
    <div class="grid grid-cols-2 gap-2 items-center max-w-sm" style="grid-template-columns: max-content auto;">
        <div class="tooltip tooltip-right" data-tip="Choose attribute to be labeled">
            <span class="cursor-help card-title mb-0 label-text flex"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Target
                    attribute</span></span>
        </div>
        <select #labelingTaskTarget class="select select-bordered select-sm"
            (change)="setLabelingTaskTarget(labelingTaskTarget.value)">
            <option value="@@NO_ATTRIBUTE@@" selected="selected">Full Record</option>
            <option *ngFor="let attribute of useableAttributes" [value]="attribute.id">
                {{attribute.name}}
            </option>
        </select>
        <div class="tooltip tooltip-right" data-tip="Name of your labeling task">
            <span class="cursor-help card-title mb-0 label-text flex"><span class="underline"
                    style="text-decoration-style: dotted;text-underline-offset: 2px;text-decoration-color: #22c55e">Name</span></span>
        </div><input #labelingTaskName id="labelingTaskName" name="labelingTaskName" type="text"
            placeholder="Labeling task name" class="input input-sm input-bordered"
            (input)="checkLabelingTaskName($event.target)" (keydown.enter)="addLabelingTask();labelingTaskName.value=''"
            [value]="settingModals.labelingTask.create.name" autocomplete="off">
    </div>

</kern-modal>

<ng-template [ngIf]="lh">
    <kern-modal [isOpen]="lh.modalOpen.changeColor" (optionClicked)="lh.clearCurrentLabel()" closeButton="X">
        <div *ngIf="lh.currentLabel?.label as label">
            <div class="self-center flex flex-row flex-nowrap items-center justify-center">
                <p class="mr-2 font-bold">Label:</p><span
                    class="inline-flex items-center border rounded-md py-1 px-2 text-sm font-medium shadow-sm text-gray-900 text-center cursor-pointer tooltip tooltip-bottom"
                    data-tip="Rename label" (click)="lh.openRenameLabel()"
                    [ngClass]="[label.color.backgroundColor, label.color.textColor, label.color.borderColor,label.color.hoverColor]">{{label.name}}
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil h-5 w-5"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                    </svg></span>

            </div>

            <p class="mt-2">Pick a color:</p>
            <div class="mt-2 grid grid-cols-5 gap-2">
                <label *ngFor="let colorContainer of lh.labelColorOptions"
                    (click)="updateLabelColor(project.id, lh.currentLabel.taskId, label.id, label.color.name, colorContainer)"
                    [ngClass]="[colorContainer.backgroundColor, colorContainer.textColor,colorContainer.borderColor, colorContainer.hoverColor]"
                    class="w-full group border rounded-md py-1 px-2 text-sm font-medium hover:bg-gray-50
                                   focus:outline-none shadow-sm text-gray-900 cursor-pointer text-center">
                    {{colorContainer.name}}
                </label>
            </div>
            <div class="mt-4">
                <label for="hotkey" class="block text-sm font-medium text-gray-700">Select a hotkey by
                    pressing
                    a
                    key:</label>
                <div class="flex flex-row flex-nowrap items-center mt-1">
                    <span class="w-10 bg-gray-100 rounded border text-center h-6 uppercase">
                        {{label.hotkey}}</span>
                    <span *ngIf="lh.labelHotkeyError" class="ml-2 text-sm text-rose-700">{{lh.labelHotkeyError}}</span>
                </div>
            </div>
        </div>

    </kern-modal>
    <kern-modal *ngIf="lh" [isOpen]="lh.modalOpen.changeName" (optionClicked)="lh.clearCurrentLabel()" closeButton="X"
        [acceptButton]="{
        buttonCaption:lh.renameLabelData?.checkResults?.warnings.length>0?'Rename anyway':'Rename',
        disabled:!lh.renameLabelData?.checkResults || lh.renameLabelData?.checkResults?.errors.length>0,
        emitObject:lh,emitFunction:lh.updateLabelName
    }">
        <div *ngIf="lh.renameLabelData && lh.currentLabel?.label as label" class="flex flex-col gap-y-2">
            <div class="self-center flex flex-row flex-nowrap items-center justify-center">
                <p class="mr-2 font-bold">Change label name:</p><span
                    class=" border rounded-md py-1 px-2 text-sm font-medium shadow-sm text-gray-900 text-center"
                    [ngClass]="[label.color.backgroundColor, label.color.textColor, label.color.borderColor]">{{label.name}}</span>
            </div>
            <div class="flex flex-col gap-y-2" style="max-height: calc(80vh - 100px);overflow-y: auto;">
                <div class="flex flex-row flex-nowrap items-center">
                    <input #newLabelName name="newLabelName" type="text" placeholder="New Name" [value]="label.name"
                        class="w-80 input input-outline input-bordered input-sm focus:outline-none"
                        style="box-shadow:none;" (keyup)="lh.checkInputRenameLabel($event)"
                        (keydown.enter)="lh.checkRenameLabel()">
                    <button (click)="lh.checkRenameLabel()" [attr.disabled]="lh.renameLabelData.canCheck?null:true"
                        [ngClass]="lh.renameLabelData.canCheck ?  'opacity-100 cursor-pointer':'opacity-50 cursor-not-allowed'"
                        class="ml-2 bg-green-100 text-green-700 border border-green-400 text-xs font-semibold px-4 py-2 rounded-md hover:bg-green-200 focus:outline-none">Check
                        Rename</button>


                </div>
                <ng-template [ngIf]="lh.renameLabelData.checkResults?.errors.length>0">
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative flex flex-col"
                        role="alert">
                        <div class="self-center flex flex-row flex-nowrap items-center -mt-1 mb-1">
                            <strong class="font-bold">Errors detected</strong>
                            <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <pre *ngFor="let error of lh.renameLabelData.checkResults.errors"
                            class="text-sm overflow-x-auto">{{error.msg}}</pre>
                    </div>
                </ng-template>
                <ng-template [ngIf]="lh.renameLabelData.checkResults?.infos.length>0">
                    <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative flex flex-col"
                        role="alert">
                        <div class="self-center flex flex-row flex-nowrap items-center -mt-1 mb-1">
                            <strong class="font-bold">Information</strong>
                            <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <pre *ngFor="let info of lh.renameLabelData.checkResults.infos"
                            class="text-sm overflow-x-auto">{{info.msg}}</pre>
                    </div>
                </ng-template>
                <ng-template [ngIf]="lh.renameLabelData.checkResults?.warnings.length>0">
                    <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative flex flex-col gap-y-1"
                        role="alert">
                        <div class="self-center flex flex-row flex-nowrap items-center -mt-1 mb-1">
                            <strong class="font-bold">Warning</strong>

                            <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="self-center -mt-4">

                            <span class="text-sm mb-2">
                                <p class="text-center">Inside each toggle is a suggestion how to fix the
                                    corresponding
                                    warning.</p>
                                <p class="text-center">Please check them carefully before applying!</p>
                            </span>
                        </div>
                        <div *ngFor="let warning of lh.renameLabelData.checkResults.warnings"
                            [ngClass]="warning.open?'border border-yellow-400':'tooltip'" class="text-sm"
                            data-tip="Click me to open solution provider" class="flex flex-col gap-y-1">
                            <div class="flex flex-row items-center cursor-pointer" (click)="warning.open=!warning.open">
                                <div [ngClass]="warning.open?'':'rotate_transform_270'" class="mr-1">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-triangle-inverted h-3 w-3" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path fill="currentColor"
                                            d="M5 4h14a2 2 0 0 1 1.84 2.75l-7.1 12.25a2 2 0 0 1 -3.5 0l-7.1 -12.25a2 2 0 0 1 1.75 -2.75">
                                        </path>
                                    </svg>
                                </div>
                                <span class="text-sm overflow-x-auto">{{warning.msg}}</span>
                            </div>

                            <div [ngClass]="warning.open?'':'hidden'" class="flex flex-col p-2">
                                <ng-template [ngIf]="warning.key == 'KNOWLEDGE_BASE'">
                                    <div class="flex flex-row">
                                        <span class="mr-2 font-bold text-sm">Current name:</span>
                                        <span class="text-sm">{{warning.old}}</span>
                                    </div>
                                    <div class="flex flex-row">
                                        <span class="mr-2 font-bold text-sm">New name:</span>
                                        <span class="text-sm">{{warning.new}}</span>
                                    </div>

                                </ng-template>
                                <ng-template [ngIf]="warning.key == 'HEURISTIC'">
                                    <div class="flex flex-col gap-y-2">
                                        <span class="text-sm">
                                            <div class="tooltip tooltip-right"
                                                data-tip="Open information source in new tab">

                                                <a [routerLink]="'../heuristics/' + warning.id" target="_blank"
                                                    class="cursor-pointer underline font-bold">
                                                    Current source code:</a>
                                            </div>
                                        </span>
                                        <pre class="editor-pre" style="max-height: 15rem;"><kern-highlight [text]="warning.oldParsed"
                                        [searchFor]="warning.old_highlighting"></kern-highlight></pre>
                                        <span class="text-sm font-bold">Suggested changes:</span>
                                        <pre class="editor-pre" style="max-height: 15rem;"><kern-highlight [text]="warning.newParsed"
                                            [searchFor]="warning.new_highlighting"></kern-highlight></pre>
                                    </div>
                                </ng-template>
                                <button (click)="lh.handleLabelRenameWarning(warning)"
                                    class="self-center mt-2 bg-green-100 text-green-700 border border-green-400 text-xs font-semibold px-4 py-2 rounded-md hover:bg-green-200 focus:outline-none">Change</button>
                            </div>
                        </div>

                    </div>
                </ng-template>
            </div>
        </div>

    </kern-modal>

</ng-template>