<div class="h-screen bg-gray-100 flex overflow-hidden">
    <kern-sidebar-pm (firstName)="setFirstName($event)">
    </kern-sidebar-pm>
    <!-- Content area -->
    <div class="h-full w-full flex-1 flex flex-col overflow-hidden">
        <kern-header [user]="user$ | async" [organizationName]="organizationName"
            [organizationInactive]="organizationInactive" [avatarUri]="avatarUri" page="projects"></kern-header>

        <ng-container *ngIf="projectList as projects">
            <div *ngIf="!organizationInactive && projects.length > 0" class="ml-4">
                <ng-container *ngTemplateOutlet="buttonsProject"></ng-container>
            </div>

            <div *ngIf="!organizationInactive && projects.length > 0" class="h-screen overflow-y-scroll mt-3">
                <div class="scrollable-size">
                    <div *ngFor="let project of projects" class="relative card shadow bg-white m-4">
                        <div *ngIf="project.status != ProjectStatusType.IN_DELETION" class="card-body p-6">
                            <div class="absolute top-0 left-2/4 flex flex-row flex-nowrap gap-x-1 bg-gray-100 px-1 rounded-br rounded-bl"
                                style="transform: translate(-50%);" *ngIf="project.timeStamp">
                                <span class="text-sm text-gray-500">Created by</span>
                                <span class="text-sm text-gray-900"
                                    [ngClass]="project.user.firstName && project.user.lastName ? 'tooltip tooltip-bottom' : ''"
                                    [attr.data-tip]="project.user.mail">
                                    {{project.user.firstName && project.user.lastName ? project.user.firstName + ' ' +
                                    project.user.lastName : 'Unknown user'}}
                                </span>
                                <ng-template [ngIf]="!isDemoUser">
                                    <span class="text-sm text-gray-500">on</span>
                                    <span class="text-sm text-gray-900 ">{{project.date}}</span>
                                    <span class="text-sm text-gray-500">at</span>
                                    <span class="text-sm text-gray-900 ">{{project.time}}</span>
                                </ng-template>
                            </div>
                            <div *ngIf="adminData.isAdmin"
                                class="absolute top-0 left-0 cursor-pointer tooltip tooltip-right"
                                data-tip="Admin function: Quick delete project"
                                (click)="adminOpenOrDeleteProject(project)">
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </div>
                            <div class="my-2 grid grid-cols-3 gap-4 items-center lg:grid-cols-6">
                                <div class="col-span-2">
                                    <div class="text-sm text-gray-900 font-medium">{{project.name}}</div>
                                    <div *ngIf="project.description; else noProjectDesc"
                                        class="text-sm text-gray-500 font-normal">
                                        {{project.description}}
                                    </div>
                                    <ng-template #noProjectDesc>
                                        <div class="text-sm text-gray-500 font-normal italic">No description</div>
                                    </ng-template>
                                </div>
                                <div>
                                    <div class="text-sm text-gray-900 font-medium">Records</div>
                                    <div class="text-sm text-gray-500 font-normal">
                                        {{projectStatisticsById.get(project.id)?.numDataScaleUploaded ?
                                        (projectStatisticsById.get(project.id)?.numDataScaleUploaded | number) : '0'}}
                                        records
                                    </div>
                                </div>
                                <div>
                                    <div *ngIf="projectStatisticsById.get(project.id)?.numDataScaleManual != 0">
                                        <div class="text-sm text-gray-900 font-medium">Manually labeled</div>
                                        <div class="text-sm text-gray-500 font-normal">
                                            {{projectStatisticsById.get(project.id)?.numDataScaleManual | number }}
                                            records
                                            ({{
                                            (projectStatisticsById.get(project.id)?.numDataScaleManual/projectStatisticsById.get(project.id)?.numDataScaleUploaded)
                                            | percentRound: 2 }})
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div *ngIf="projectStatisticsById.get(project.id)?.numDataScaleProgrammatical != 0">
                                        <div class="text-sm text-gray-900 font-medium">Weakly supervised</div>
                                        <div class="text-sm text-gray-500 font-normal">
                                            {{projectStatisticsById.get(project.id)?.numDataScaleProgrammatical | number
                                            }} records
                                            ({{
                                            (projectStatisticsById.get(project.id)?.numDataScaleProgrammatical/projectStatisticsById.get(project.id)?.numDataScaleUploaded)
                                            | percentRound: 2 }})
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button (click)="manageProject(project.id, project.numDataScaleUploaded)"
                                        *ngIf="project.status !== 'INIT_SAMPLE_PROJECT'"
                                        class="text-green-800 text-sm font-medium">
                                        <span class="leading-5">Continue project</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M13 7l5 5m0 0l-5 5m5-5H6" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!organizationInactive && (projectList?.length === 0)">
            <div class="h-screen relative bg-white overflow-hidden">
                <div class="hidden lg:block lg:absolute lg:inset-0" aria-hidden="true">
                    <svg class="h-screen absolute top-0 left-1/2 transform translate-x-64 -translate-y-8" width="640"
                        height="784" fill="none" viewBox="0 0 640 784">
                        <defs>
                            <pattern id="9ebea6f4-a1f5-4d96-8c4e-4c2abf658047" x="118" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect y="72" width="640" height="640" class="text-gray-50" fill="currentColor" />
                        <rect x="118" width="404" height="784" fill="url(#9ebea6f4-a1f5-4d96-8c4e-4c2abf658047)" />
                    </svg>
                </div>
                <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
                    <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
                        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
                            <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
                                <div class="text-gray-500 font-semibold text-base uppercase">Ready to launch!</div>
                                <div class="font-extrabold text-gray-900 text-5xl mt-1">
                                    Start your <span class="text-green-800">first project</span>
                                </div>
                                <div class="font-normal text-xl text-gray-500 mt-5">
                                    Feel free to take a look at a product demo or check out our
                                    <a href="https://docs.kern.ai/" target="_blank"><span
                                            class="underline cursor-pointer">documentation</span></a>. If you have any
                                    questions, you can reach out to us.
                                </div>
                                <ng-container *ngTemplateOutlet="buttonsProject"></ng-container>
                            </div>
                            <div style="width:560px;height:315px" class="overflow-hidden relative">
                                <ng-template [ngIf]="saveUrl" [ngIfElse]="showPicture">
                                    <iframe width="560" height="315" [src]="saveUrl" title="YouTube video player"
                                        frameborder="0" autoplay="1"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </ng-template>
                                <ng-template #showPicture>
                                    <div>
                                        <img class="w-full" src="assets/thumbnail.jpg" alt="">

                                        <span class="absolute inset-0 w-full h-full flex items-center justify-center"
                                            aria-hidden="true">
                                            <svg class="cursor-pointer h-20 w-20 text-indigo-500" fill="currentColor"
                                                (click)="startPlayback()" viewBox="0 0 84 84">
                                                <circle opacity="0.9" cx="42" cy="42" r="42" fill="white" />
                                                <path
                                                    d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z" />
                                            </svg>
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="organizationInactive && isManaged">
            <div class="h-screen relative bg-white overflow-hidden">
                <div class="hidden lg:block lg:absolute lg:inset-0" aria-hidden="true">
                    <svg class="h-screen absolute top-0 left-1/2 transform translate-x-64 -translate-y-8" width="640"
                        height="784" fill="none" viewBox="0 0 640 784">
                        <defs>
                            <pattern id="9ebea6f4-a1f5-4d96-8c4e-4c2abf658047" x="118" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect y="72" width="640" height="640" class="text-gray-50" fill="currentColor" />
                        <rect x="118" width="404" height="784" fill="url(#9ebea6f4-a1f5-4d96-8c4e-4c2abf658047)" />
                    </svg>
                </div>
                <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
                    <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
                        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
                            <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
                                <div class="text-gray-500 font-semibold text-base uppercase">You're now on the waitlist!
                                </div>
                                <div class="font-extrabold text-gray-900 text-5xl mt-1">
                                    You don't want to <span class="text-green-800">wait?</span>
                                </div>
                                <div class="font-normal text-xl text-gray-500 mt-5">
                                    In a 15 minute onboarding call, we can directly assign you access. Reach out to us
                                    <a href="https://www.kern.ai/waitlist" target="_blank"><span
                                            class="underline cursor-pointer">here</span></a>.
                                </div>
                                <div class="text-gray-500 mt-5">
                                    In the meantime, feel free to take a look at a product demo or check out our
                                    <a href="https://docs.kern.ai/" target="_blank"><span
                                            class="underline cursor-pointer">documentation</span></a>. If you have any
                                    questions, contact us any time.
                                </div>
                            </div>
                            <div style="width:560px;height:315px" class="overflow-hidden relative">
                                <ng-template [ngIf]="saveUrl" [ngIfElse]="showPicture">
                                    <iframe width="560" height="315" [src]="saveUrl" title="YouTube video player"
                                        frameborder="0" autoplay="1"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>

                                </ng-template>
                                <ng-template #showPicture>
                                    <div>
                                        <img class="w-full" src="assets/thumbnail.jpg" alt="">

                                        <span class="absolute inset-0 w-full h-full flex items-center justify-center"
                                            aria-hidden="true">
                                            <svg class="cursor-pointer h-20 w-20 text-indigo-500" fill="currentColor"
                                                (click)="startPlayback()" viewBox="0 0 84 84">
                                                <circle opacity="0.9" cx="42" cy="42" r="42" fill="white" />
                                                <path
                                                    d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z" />
                                            </svg>
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="organizationInactive && !isManaged">
            <div class="h-screen relative bg-white overflow-hidden">
                <div class="hidden lg:block lg:absolute lg:inset-0" aria-hidden="true">
                    <svg class="h-screen absolute top-0 left-1/2 transform translate-x-64 -translate-y-8" width="640"
                        height="784" fill="none" viewBox="0 0 640 784">
                        <defs>
                            <pattern id="9ebea6f4-a1f5-4d96-8c4e-4c2abf658047" x="118" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect y="72" width="640" height="640" class="text-gray-50" fill="currentColor" />
                        <rect x="118" width="404" height="784" fill="url(#9ebea6f4-a1f5-4d96-8c4e-4c2abf658047)" />
                    </svg>
                </div>
                <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
                    <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
                        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
                            <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
                                <div *ngIf="canCreateOrg" class="text-gray-500 font-semibold text-base uppercase">
                                    Preparing your account. Please reload the page.
                                </div>
                                <div *ngIf="!canCreateOrg" class="text-gray-500 font-semibold text-base uppercase">
                                    Maximum number of users reached. Please look into our managed version.</div>
                                <div class="font-normal text-xl text-gray-500 mt-5">
                                    <ng-template [ngIf]="canCreateOrg" [ngIfElse]="premiumVersion">
                                        In the meantime, feel free to take a look at a product demo or check out our
                                        <a href="https://docs.kern.ai/" target="_blank"><span
                                                class="underline cursor-pointer">documentation</span></a>. If you have
                                        any
                                        questions, you can reach out to us.
                                    </ng-template>
                                    <ng-template #premiumVersion>
                                        If you are interested in working with multiple users take a look at our <a
                                            href="./users"><span class="underline cursor-pointer">options</span></a>.
                                    </ng-template>

                                </div>
                            </div>
                            <div style="width:560px;height:315px" class="overflow-hidden relative">
                                <ng-template [ngIf]="saveUrl" [ngIfElse]="showPicture">
                                    <iframe width="560" height="315" [src]="saveUrl" title="YouTube video player"
                                        frameborder="0" autoplay="1"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>

                                </ng-template>
                                <ng-template #showPicture>
                                    <div>
                                        <img class="w-full" src="assets/thumbnail.jpg" alt="">

                                        <span class="absolute inset-0 w-full h-full flex items-center justify-center"
                                            aria-hidden="true">
                                            <svg class="cursor-pointer h-20 w-20 text-indigo-500" fill="currentColor"
                                                (click)="startPlayback()" viewBox="0 0 84 84">
                                                <circle opacity="0.9" cx="42" cy="42" r="42" fill="white" />
                                                <path
                                                    d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z" />
                                            </svg>
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </ng-container>

    </div>
</div>

<ng-template #buttonsProject>
    <div *ngIf="user?.role == 'ENGINEER'">
        <button [routerLink]="['/projects/new']"
            class="bg-blue-700 text-white text-xs font-semibold px-4 py-2.5 rounded-md mt-6 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            New project
        </button>
        <button class="ml-6 mt-6 mr-6 xs:mr-0">
            <label (click)="projectsModals.uploadProject.open = true"
                class="bg-blue-700 text-white text-xs font-semibold px-4 py-2.5 rounded-md cursor-pointer hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Import snapshot
            </label>
        </button>
        <div class="relative inline-block text-left ml-6 mt-6">
            <kern-dropdown [dropdownOptions]="{
            optionArray:['Clickbait','Initial (only contains the initial data set and labels.)','Conversational AI','Initial (only contains the initial data set and labels.)', 'AG News','Initial (only contains the initial data set and labels.)', 'Further sample projects'],
            optionIcons:['clickbait',null,'conversational-ai',null,'ag-news',null],
            buttonCaption: 'Sample projects',
            isButtonSampleProjects: true,
            optionDescriptions: ['Binary classification for detecting nudging articles.','','Detecting intent within conversational lines.','','Modelling topics of headline news.','',''],
            textSize: 'text-sm',
            buttonBgColor: 'blue',
            buttonTextColor: 'white',
            hoverColor: 'hover:bg-kernindigo'
        }" (optionClicked)="executeOption($event)" (isInitialProject)="setInitialValue($event)">
            </kern-dropdown>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="adminData.isAdmin">
    <kern-modal [isOpen]="adminData.prjDeleteModalOpen" (optionClicked)="adminData.prjDeleteModalOpen=false"
        abortButton="X" [closeButton]="{
            buttonCaption:'Delete',
            emitObject:this,emitFunction:adminDeleteProject
        }" [acceptButton]="{
            buttonCaption:'Delete and never show again',
            emitObject:this,emitFunction:adminStoreInstantAndDelete
        }">
        <div class="flex flex-row items-center justify-center">
            <span class="text-lg leading-6 text-gray-900 font-medium">
                Admin Function - Quick delete
            </span>
        </div>
        Are you sure?<br>This will delete the project and all its data.
    </kern-modal>

</ng-template>

<kern-modal-upload [uploadFileType]="UploadFileType.PROJECT" [isModalOpen]="projectsModals.uploadProject.open"
    [uploadOptions]="{
    reloadOnFinish: false,
    deleteProjectOnFail: true,
    closeModalOnClick: true,
    isModal: true,
    navigateToProject: true
}" (closeModalEvent)="projectsModals.uploadProject.open = false;" (refetchProjects)="refetchProjects($event)">
</kern-modal-upload>