<input #assistantModal type="checkbox" id="assistant-modal" class="modal-toggle">
<div class="tooltip tooltip-bottom" data-tip="Test our new Label Studio integration">
    <button (click)="assistantModal.checked=true;checkCanProceed();"
        class="relative bg-blue-700 text-white text-xs font-semibold px-4 py-2 rounded-md hover:bg-blue-800 focus:outline-none">
        {{assistantSetupData?.buttonCaption}}
        <label *ngIf="assistantSetupData?.isBeta"
            class="absolute bg-gray-100 text-gray-800 rounded-lg text-xs px-2.5 py-0.5 cursor-default border border-gray-300"
            style="top: -4px; right: -14px; transform: rotate(45deg);">Beta</label>
    </button>
</div>
<kern-modal [isOpen]="assistantModal.checked" closeButton="X"
    (optionClicked)="$event == 'CLOSE' ? assistantModal.checked=false : null"
    [acceptButton]="{closeAfterClick:false,buttonCaption:'Proceed',emitObject:this,emitFunction:clickProceed, disabled:!canProceed}">
    <div class="flex flex-grow justify-center text-lg leading-6 text-gray-900 font-medium mb-2">
        {{assistantSetupData?.modalHeader}} </div>


    <div>
        <div class="sm:block">
            <div class="border-b border-gray-200">
                <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                    <button (click)="currentStep = AssistantStepType.PREPARATION"
                        [ngClass]="currentStep == AssistantStepType.PREPARATION ? 'border-indigo-500 text-indigo-600':'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Preparation</button>

                    <button (click)="currentStep = AssistantStepType.SETTINGS"
                        [ngClass]="currentStep == AssistantStepType.SETTINGS ? 'border-indigo-500 text-indigo-600':'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Settings</button>

                    <button (click)="currentStep = AssistantStepType.RESTRICTIONS"
                        [ngClass]="currentStep == AssistantStepType.RESTRICTIONS ? 'border-indigo-500 text-indigo-600':'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Restrictions</button>
                </nav>
            </div>
        </div>
    </div>
    <!--Page Preparations-->
    <div [ngClass]="currentStep != AssistantStepType.PREPARATION ? 'hidden':''">
        <div class="grid grid-cols-2 gap-x-6 gap-y-2 items-center"
            style="grid-template-columns: max-content min-content;">
            <div>Project Name</div>
            <div>{{prepareData.projectName}}</div>
            <div>File Name</div>
            <div>{{prepareData.fileName}}</div>
            <ng-template [ngIf]="uploadTask?.fileAdditionalInfo.errors.length>0">
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
                    <strong class="font-bold">Errors Detected!</strong>
                    <pre class="text-sm">{{uploadTask.fileAdditionalInfo.errors.join("\n")}}</pre>
                </div>
            </ng-template>
        </div>
    </div>

</kern-modal>