.wait,
.wait * {
  cursor: wait;
}

.tooltip::before {
  z-index: 50;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.label-overlay-manual {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  pointer-events: none;
  border-radius: 0.375rem;
  opacity: 0.3;
  //https://www.magicpattern.design/tools/css-backgrounds
  // background-image: linear-gradient(0deg, transparent , #666);
  // background-size: 10px 10px;
  background-image: linear-gradient(30deg, #aeaeae 12%, transparent 12.5%, transparent 87%, #aeaeae 87.5%, #aeaeae), linear-gradient(150deg, #aeaeae 12%, transparent 12.5%, transparent 87%, #aeaeae 87.5%, #aeaeae), linear-gradient(30deg, #aeaeae 12%, transparent 12.5%, transparent 87%, #aeaeae 87.5%, #aeaeae), linear-gradient(150deg, #aeaeae 12%, transparent 12.5%, transparent 87%, #aeaeae 87.5%, #aeaeae), linear-gradient(60deg, #aeaeae77 25%, transparent 25.5%, transparent 75%, #aeaeae77 75%, #aeaeae77), linear-gradient(60deg, #aeaeae77 25%, transparent 25.5%, transparent 75%, #aeaeae77 75%, #aeaeae77);
  background-size: 22px 39px;
  background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
}