<ng-container *ngIf="status !== 'CREATED' && status !== 'FINISHED' && status !== 'FAILED'"
    [ngTemplateOutlet]="heuristicStatus" 
    [ngTemplateOutletContext]="{dataTip:'Heuristic was successfully registered.', color: 'gray',statusName:'Initial'}"></ng-container>

<ng-container *ngIf="status === 'CREATED'"
    [ngTemplateOutlet]="heuristicStatus" 
    [ngTemplateOutletContext]="{dataTip:'Heuristic is currently being executed.', color: 'yellow',statusName:'Running'}"></ng-container>

<ng-container *ngIf="status === 'FINISHED'"
    [ngTemplateOutlet]="heuristicStatus" 
    [ngTemplateOutletContext]="{dataTip:'Heuristic was successfully executed.', color: 'green',statusName:'Finished'}"></ng-container>

<ng-container *ngIf="status === 'FAILED'"
    [ngTemplateOutlet]="heuristicStatus" 
    [ngTemplateOutletContext]="{dataTip:'Heuristic ran into errors.', color: 'red',statusName:'Error'}"></ng-container>


<ng-template #heuristicStatus let-dataTip="dataTip" let-color="color" let-statusName="statusName">
    <div [attr.data-tip]="dataTip" class="tooltip ml-2" [ngClass]="tooltipPosition">
        <span
            class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium" [ngClass]="[color === 'green' ? 'bg-green-300' :'bg-'+color+'-100','text-'+color+'-800']">
            <svg class="mr-1.5 h-2 w-2" [ngClass]="'text-'+color+'-400'" fill="currentColor" viewBox="0 0 8 8">
                <circle cx="4" cy="4" r="3" />
            </svg>
            {{statusName}}
        </span>
    </div>
</ng-template>