@-webkit-keyframes yellow-fade {
    from {
        background: rgb(255, 214, 102);
    }

    to {
        background: #fff;
    }
}

@-moz-keyframes yellow-fade {
    from {
        background: rgb(255, 214, 102);
    }

    to {
        background: #fff;
    }
}

@keyframes yellow-fade {
    from {
        background: rgb(255, 214, 102);
    }

    to {
        background: #fff;
    }
}

#flash-it {
    -webkit-animation: yellow-fade 1s ease-in-out 0s;
    -moz-animation: yellow-fade 1s ease-in-out 0s;
    -o-animation: yellow-fade 1s ease-in-out 0s;
    animation: yellow-fade 1s ease-in-out 0s;
}


.line-height-textarea {
    line-height: 16px;
}