.lineChartTooltip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: #F3F4F6;
    border: 0 none;
    border-radius: 4px;
    color: #0C052E;
    font: 14px sans-serif;
    padding: 5px;
    text-align: center;
}