hr {
    border: none;
    border-top: 1px dashed gray;
    color: #fff;
    background-color: #fff;
    height: 1px;
}

.height-dropdown {
    max-height: 45vh;
}

.tooltip-failed::before {
    margin-left: -30px;
}