<header class="sticky top-0 z-50 w-full">
    <div
        class="relative z-10 flex-shrink-0 h-16 bg-white border-b border-gray-200 shadow-sm flex justify-between items-center">
        <div *ngIf="hideLogout"
            class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center pointer-events-none">
            <span class="inline-flex items-center px-2 py-0.5 rounded font-medium bg-red-100 text-red-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-play-card mr-2" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect transform="rotate(90 12 12)" x="3" y="5" width="18" height="14" rx="2"></rect>
                    <line x1="8" y1="6" x2="8.01" y2="6"></line>
                    <line x1="16" y1="18" x2="16.01" y2="18"></line>
                    <path d="M12 16l-3 -4l3 -4l3 4z"></path>
                </svg>
                Demo Playground - Everything will be reset on the hour
            </span>
            <!-- <div class="font-bold text-red-500">Demo - Everything will be reset on the hour</div> -->
        </div>
        <div class="flex items-center">
            <ng-container [ngSwitch]="page">
                <ng-template [ngSwitchCase]="'projects'">
                    <span *ngIf="!organizationInactive">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>! See
                            your projects at <span class="font-bold text-gray-900">{{organizationName}}</span>.
                        </div>
                    </span>

                    <div *ngIf="organizationInactive">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>!
                            {{showConfigSettings ?'Switch to your main account to continue labeling...':
                            'You are currently on the waitlist.'}}
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'project'">
                    <div class="ml-6 text-gray-700 text-sm font-bold">
                        {{project.name}} - <span class="text-gray-500 font-normal">{{project?.numDataScaleUploaded}}
                            records</span>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'project-new'">
                    <div class="ml-6 text-gray-500 text-sm font-normal">
                        Add a new project to <span class="font-bold text-gray-900">{{organizationName}}</span>.
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'notifications'">
                    <div *ngIf="!organizationInactive && user" class="flex items-center">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>! See
                            your activities at <span class="font-bold text-gray-900">{{organizationName}}</span>.
                        </div>
                    </div>
                    <div *ngIf="organizationInactive">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>!
                            {{showConfigSettings ?'Switch to your main account to continue labeling...':
                            'You are currently on the waitlist.'}}
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'model-download'">
                    <div *ngIf="user" class="flex items-center">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>! See
                            your downloaded models.
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'config'">
                    <div *ngIf="!organizationInactive && user" class="flex items-center">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>! Change your app
                            configuration <span class="font-bold text-gray-900">here</span>.
                        </div>
                    </div>
                    <!--Currently, managed version users don't have a config page - but once we have one, they also need to be told that they're on the waitlist-->
                    <div *ngIf="organizationInactive">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>!
                            {{showConfigSettings ?'Switch to your main account to continue labeling...':
                            'You are currently on the waitlist.'}}
                        </div>
                    </div>
                </ng-template>
            </ng-container>

        </div>
        <div class="flex flex-row flex-nowrap items-center">
            <div class="flex items-center justify-center">
                <a [routerLink]="['/projects']" class="flex mr-6 tooltip tooltip-left" data-tip="Home page - Projects">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                    </svg>
                </a>
            </div>

            <div *ngIf="user?.role == 'ENGINEER'" class="flex items-center justify-center">
                <a [routerLink]="['/users']" class="flex mr-6 tooltip tooltip-left" data-tip="Home page - Users">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagons" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 18v-5l4 -2l4 2v5l-4 2z"></path>
                        <path d="M8 11v-5l4 -2l4 2v5"></path>
                        <path d="M12 13l4 -2l4 2v5l-4 2l-4 -2"></path>
                    </svg>
                </a>
            </div>

            <div class="flex items-center justify-center">
                <kern-comment></kern-comment>
            </div>


            <div *ngIf="user?.role == 'ENGINEER'" class="flex items-center justify-center">
                <a [routerLink]="['/notification-center']" class="flex mr-6 tooltip tooltip-left"
                    data-tip="Notification center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6">
                        </path>
                        <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                    </svg>
                </a>
            </div>
            <div *ngIf="user?.role == 'ENGINEER'" class="flex items-center justify-center">
                <div class="widget widget-lg"><a class="btnx" href="https://github.com/code-kern-ai/refinery"
                        rel="noopener" target="_blank" aria-label="Star code-kern-ai/refinery on GitHub"><svg
                            viewBox="0 0 16 16" width="16" height="16" class="octicon octicon-star" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z">
                            </path>
                        </svg>&nbsp;<span>Star on GitHub</span></a></div>
            </div>
            <div class="flex justify-center overflow-visible" *ngIf="!hideLogout">
                <div *ngIf="user" class=" mr-4">
                    <kern-dropdown [dropdownOptions]="{
                            optionArray: showConfigSettings ? ['Account Settings', 'Change config', 'Logout'] : ['Account Settings', 'Logout'],
                            buttonVersion: 'userIcon',
                            avatarUri: avatarUri
                        }" (optionClicked)="executeOption($event)"></kern-dropdown>
                </div>
            </div>
            <div class="flex justify-center overflow-visible" *ngIf="hideLogout">
                <kern-dropdown class="mr-4" [dropdownOptions]="{
                    optionArray: ['Logout'],
                    buttonVersion: 'userIcon',
                    avatarUri: avatarUri
                }" (optionClicked)="executeOption($event)"></kern-dropdown>
            </div>
        </div>
    </div>
</header>