<header class="sticky top-0 z-50 w-full">
    <div
        class="relative z-10 flex-shrink-0 h-16 bg-white border-b border-gray-200 shadow-sm flex justify-between items-center">
        <div *ngIf="hideLogout"
            class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center pointer-events-none">
            <span class="inline-flex items-center px-2 py-0.5 rounded font-medium bg-red-100 text-red-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-play-card mr-2" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect transform="rotate(90 12 12)" x="3" y="5" width="18" height="14" rx="2"></rect>
                    <line x1="8" y1="6" x2="8.01" y2="6"></line>
                    <line x1="16" y1="18" x2="16.01" y2="18"></line>
                    <path d="M12 16l-3 -4l3 -4l3 4z"></path>
                </svg>
                Demo Playground - Everything will be reset on the hour
            </span>
            <!-- <div class="font-bold text-red-500">Demo - Everything will be reset on the hour</div> -->
        </div>
        <div class="flex items-center">
            <ng-container [ngSwitch]="page">
                <ng-template [ngSwitchCase]="'projects'">
                    <span *ngIf="!organizationInactive">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>! See
                            your projects at <span class="font-bold text-gray-900">{{organizationName}}</span>.
                        </div>
                    </span>

                    <div *ngIf="organizationInactive">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>!
                            {{showConfigSettings ?'Switch to your main account to continue labeling...':
                            'We’re currently setting up your account ...'}}
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'project'">
                    <div class="ml-6 text-gray-700 text-sm font-bold">
                        {{project.name}} - <span class="text-gray-500 font-normal">{{project?.numDataScaleUploaded}}
                            records</span>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'project-new'">
                    <div class="ml-6 text-gray-500 text-sm font-normal">
                        Add a new project to <span class="font-bold text-gray-900">{{organizationName}}</span>.
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'notifications'">
                    <div *ngIf="user" class="flex items-center">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>! See
                            your activities at <span class="font-bold text-gray-900">{{organizationName}}</span>.
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="'config'">
                    <div *ngIf="user" class="flex items-center">
                        <div class="ml-6 text-gray-500 text-sm font-normal">
                            Welcome, <span class="font-bold text-gray-900">{{user?.firstName}}</span>! Change your app
                            configuration <span class="font-bold text-gray-900">here</span>.
                        </div>
                    </div>
                </ng-template>
            </ng-container>

        </div>
        <div class="flex flex-row flex-nowrap items-center">
            <div class="flex items-center justify-center">
                <a [routerLink]="['/projects']" class="flex mr-6 tooltip tooltip-left" data-tip="Home page - Projects">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                    </svg>
                </a>
            </div>

            <div class="flex items-center justify-center">
                <a [routerLink]="['/notification-center']" class="flex mr-6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                    </svg>
                </a>
            </div>
            <div class="flex items-center justify-center">
                <a href="https://github.com/code-kern-ai/refinery" target="_blank" data-tip="Star us on GitHub"
                    rel="noopener noreferrer" class="flex mr-6 tooltip tooltip-left">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
                        </path>
                    </svg>
                </a>

            </div>
            <div class="flex justify-center overflow-visible">
                <div *ngIf="user" class=" mr-4">
                        <kern-dropdown [dropdownOptions]="{
                            optionArray: showConfigSettings ? ['Account Settings', 'Change config', 'Logout'] : ['Account Settings', 'Logout'],
                            buttonVersion: 'userIcon',
                            avatarUri: avatarUri
                        }" (optionClicked)="executeOption($event)"
                        ></kern-dropdown>
                </div>
            </div>
        </div>
    </div>
</header>